In [1]:
#importing data for analysis
import pandas as pd
nhanes_data = pd.read_csv('https://raw.githubusercontent.com/GTPB/PSLS20/master/data/NHANES.csv')
print(nhanes_data)

         ID SurveyYr  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     51624  2009_10    male   34     30-39      409.0    White      NaN
1     51624  2009_10    male   34     30-39      409.0    White      NaN
2     51624  2009_10    male   34     30-39      409.0    White      NaN
3     51625  2009_10    male    4       0-9       49.0    Other      NaN
4     51630  2009_10  female   49     40-49      596.0    White      NaN
...     ...      ...     ...  ...       ...        ...      ...      ...
9995  71909  2011_12    male   28     20-29        NaN  Mexican  Mexican
9996  71910  2011_12  female    0       0-9        5.0    White    White
9997  71911  2011_12    male   27     20-29        NaN  Mexican  Mexican
9998  71915  2011_12    male   60     60-69        NaN    White    White
9999  71915  2011_12    male   60     60-69        NaN    White    White

           Education MaritalStatus  ... RegularMarij  AgeRegMarij  HardDrugs  \
0        High School       Married  ...           No          NaN        Yes
1        High School       Married  ...           No          NaN        Yes
2        High School       Married  ...           No          NaN        Yes
3                NaN           NaN  ...          NaN          NaN        NaN
4       Some College   LivePartner  ...           No          NaN        Yes
...              ...           ...  ...          ...          ...        ...
9995  9 - 11th Grade  NeverMarried  ...          NaN          NaN        NaN
9996             NaN           NaN  ...          NaN          NaN        NaN
9997    College Grad       Married  ...           No          NaN         No
9998    College Grad  NeverMarried  ...          NaN          NaN         No
9999    College Grad  NeverMarried  ...          NaN          NaN         No

      SexEver SexAge SexNumPartnLife  SexNumPartYear  SameSex  SexOrientation  \
0         Yes   16.0             8.0             1.0       No    Heterosexual
1         Yes   16.0             8.0             1.0       No    Heterosexual
2         Yes   16.0             8.0             1.0       No    Heterosexual
3         NaN    NaN             NaN             NaN      NaN             NaN
4         Yes   12.0            10.0             1.0      Yes    Heterosexual
...       ...    ...             ...             ...      ...             ...
9995      NaN    NaN             NaN             NaN      NaN             NaN
9996      NaN    NaN             NaN             NaN      NaN             NaN
9997      Yes   21.0             1.0             1.0       No    Heterosexual
9998      Yes   19.0             2.0             NaN       No             NaN
9999      Yes   19.0             2.0             NaN       No             NaN

      PregnantNow
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
9995          NaN
9996          NaN
9997          NaN
9998          NaN
9999          NaN

[10000 rows x 76 columns]

In [2]:
#find out the column names and size of dataset
nhanes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                10000 non-null  int64
 1   SurveyYr          10000 non-null  object
 2   Gender            10000 non-null  object
 3   Age               10000 non-null  int64
 4   AgeDecade         9667 non-null   object
 5   AgeMonths         4962 non-null   float64
 6   Race1             10000 non-null  object
 7   Race3             5000 non-null   object
 8   Education         7221 non-null   object
 9   MaritalStatus     7231 non-null   object
 10  HHIncome          9189 non-null   object
 11  HHIncomeMid       9189 non-null   float64
 12  Poverty           9274 non-null   float64
 13  HomeRooms         9931 non-null   float64
 14  HomeOwn           9937 non-null   object
 15  Work              7771 non-null   object
 16  Weight            9922 non-null   float64
 17  Length            543 non-null    float64
 18  HeadCirc          88 non-null     float64
 19  Height            9647 non-null   float64
 20  BMI               9634 non-null   float64
 21  BMICatUnder20yrs  1274 non-null   object
 22  BMI_WHO           9603 non-null   object
 23  Pulse             8563 non-null   float64
 24  BPSysAve          8551 non-null   float64
 25  BPDiaAve          8551 non-null   float64
 26  BPSys1            8237 non-null   float64
 27  BPDia1            8237 non-null   float64
 28  BPSys2            8353 non-null   float64
 29  BPDia2            8353 non-null   float64
 30  BPSys3            8365 non-null   float64
 31  BPDia3            8365 non-null   float64
 32  Testosterone      4126 non-null   float64
 33  DirectChol        8474 non-null   float64
 34  TotChol           8474 non-null   float64
 35  UrineVol1         9013 non-null   float64
 36  UrineFlow1        8397 non-null   float64
 37  UrineVol2         1478 non-null   float64
 38  UrineFlow2        1476 non-null   float64
 39  Diabetes          9858 non-null   object
 40  DiabetesAge       629 non-null    float64
 41  HealthGen         7539 non-null   object
 42  DaysPhysHlthBad   7532 non-null   float64
 43  DaysMentHlthBad   7534 non-null   float64
 44  LittleInterest    6667 non-null   object
 45  Depressed         6673 non-null   object
 46  nPregnancies      2604 non-null   float64
 47  nBabies           2416 non-null   float64
 48  Age1stBaby        1884 non-null   float64
 49  SleepHrsNight     7755 non-null   float64
 50  SleepTrouble      7772 non-null   object
 51  PhysActive        8326 non-null   object
 52  PhysActiveDays    4663 non-null   float64
 53  TVHrsDay          4859 non-null   object
 54  CompHrsDay        4863 non-null   object
 55  TVHrsDayChild     653 non-null    float64
 56  CompHrsDayChild   653 non-null    float64
 57  Alcohol12PlusYr   6580 non-null   object
 58  AlcoholDay        4914 non-null   float64
 59  AlcoholYear       5922 non-null   float64
 60  SmokeNow          3211 non-null   object
 61  Smoke100          7235 non-null   object
 62  Smoke100n         7235 non-null   object
 63  SmokeAge          3080 non-null   float64
 64  Marijuana         4941 non-null   object
 65  AgeFirstMarij     2891 non-null   float64
 66  RegularMarij      4941 non-null   object
 67  AgeRegMarij       1366 non-null   float64
 68  HardDrugs         5765 non-null   object
 69  SexEver           5767 non-null   object
 70  SexAge            5540 non-null   float64
 71  SexNumPartnLife   5725 non-null   float64
 72  SexNumPartYear    4928 non-null   float64
 73  SameSex           5768 non-null   object
 74  SexOrientation    4842 non-null   object
 75  PregnantNow       1696 non-null   object
dtypes: float64(43), int64(2), object(31)
memory usage: 5.8+ MB

In [3]:
import numpy as py

In [4]:
#dropping duplicate rows
nhanes_data1 = nhanes_data.drop_duplicates()

In [5]:
#after duplicates dropped, 10,000 rows now 7,832
nhanes_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7832 entries, 0 to 9999
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                7832 non-null   int64
 1   SurveyYr          7832 non-null   object
 2   Gender            7832 non-null   object
 3   Age               7832 non-null   int64
 4   AgeDecade         7549 non-null   object
 5   AgeMonths         3561 non-null   float64
 6   Race1             7832 non-null   object
 7   Race3             4264 non-null   object
 8   Education         5469 non-null   object
 9   MaritalStatus     5474 non-null   object
 10  HHIncome          7179 non-null   object
 11  HHIncomeMid       7179 non-null   float64
 12  Poverty           7254 non-null   float64
 13  HomeRooms         7778 non-null   float64
 14  HomeOwn           7782 non-null   object
 15  Work              5910 non-null   object
 16  Weight            7771 non-null   float64
 17  Length            498 non-null    float64
 18  HeadCirc          82 non-null     float64
 19  Height            7515 non-null   float64
 20  BMI               7505 non-null   float64
 21  BMICatUnder20yrs  1133 non-null   object
 22  BMI_WHO           7479 non-null   object
 23  Pulse             6596 non-null   float64
 24  BPSysAve          6586 non-null   float64
 25  BPDiaAve          6586 non-null   float64
 26  BPSys1            6335 non-null   float64
 27  BPDia1            6335 non-null   float64
 28  BPSys2            6428 non-null   float64
 29  BPDia2            6428 non-null   float64
 30  BPSys3            6432 non-null   float64
 31  BPDia3            6432 non-null   float64
 32  Testosterone      3478 non-null   float64
 33  DirectChol        6536 non-null   float64
 34  TotChol           6536 non-null   float64
 35  UrineVol1         6967 non-null   float64
 36  UrineFlow1        6492 non-null   float64
 37  UrineVol2         1162 non-null   float64
 38  UrineFlow2        1161 non-null   float64
 39  Diabetes          7699 non-null   object
 40  DiabetesAge       517 non-null    float64
 41  HealthGen         5765 non-null   object
 42  DaysPhysHlthBad   5758 non-null   float64
 43  DaysMentHlthBad   5760 non-null   float64
 44  LittleInterest    5049 non-null   object
 45  Depressed         5051 non-null   object
 46  nPregnancies      1992 non-null   float64
 47  nBabies           1846 non-null   float64
 48  Age1stBaby        1457 non-null   float64
 49  SleepHrsNight     5897 non-null   float64
 50  SleepTrouble      5911 non-null   object
 51  PhysActive        6374 non-null   object
 52  PhysActiveDays    3813 non-null   float64
 53  TVHrsDay          4128 non-null   object
 54  CompHrsDay        4132 non-null   object
 55  TVHrsDayChild     534 non-null    float64
 56  CompHrsDayChild   534 non-null    float64
 57  Alcohol12PlusYr   4979 non-null   object
 58  AlcoholDay        3672 non-null   float64
 59  AlcoholYear       4444 non-null   float64
 60  SmokeNow          2423 non-null   object
 61  Smoke100          5478 non-null   object
 62  Smoke100n         5478 non-null   object
 63  SmokeAge          2325 non-null   float64
 64  Marijuana         3669 non-null   object
 65  AgeFirstMarij     2095 non-null   float64
 66  RegularMarij      3669 non-null   object
 67  AgeRegMarij       990 non-null    float64
 68  HardDrugs         4311 non-null   object
 69  SexEver           4312 non-null   object
 70  SexAge            4133 non-null   float64
 71  SexNumPartnLife   4280 non-null   float64
 72  SexNumPartYear    3660 non-null   float64
 73  SameSex           4312 non-null   object
 74  SexOrientation    3587 non-null   object
 75  PregnantNow       1292 non-null   object
dtypes: float64(43), int64(2), object(31)
memory usage: 4.6+ MB

In [6]:
#number of unique ids with data
count_unique_ids = nhanes_data1['ID'].nunique()
print(count_unique_ids)

6779

In [7]:
#Count unique values in each column 
nhanes_data1.agg(['nunique'])
pd.set_option('display.max_columns', None)
print(nhanes_data1.agg(['nunique']))

           ID  SurveyYr  Gender  Age  AgeDecade  AgeMonths  Race1  Race3  \
nunique  6779         2       2   81          8        910      5      6

         Education  MaritalStatus  HHIncome  HHIncomeMid  Poverty  HomeRooms  \
nunique          5              6        12           12      450         13

         HomeOwn  Work  Weight  Length  HeadCirc  Height   BMI  \
nunique        3     3    1290     309        56     980  2073

         BMICatUnder20yrs  BMI_WHO  Pulse  BPSysAve  BPDiaAve  BPSys1  BPDia1  \
nunique                 4        4     47       126       102      70      51

         BPSys2  BPDia2  BPSys3  BPDia3  Testosterone  DirectChol  TotChol  \
nunique      69      51      66      50          2311         106      250

         UrineVol1  UrineFlow1  UrineVol2  UrineFlow2  Diabetes  DiabetesAge  \
nunique        424        2066        294         760         2           72

         HealthGen  DaysPhysHlthBad  DaysMentHlthBad  LittleInterest  \
nunique          5               30               31               3

         Depressed  nPregnancies  nBabies  Age1stBaby  SleepHrsNight  \
nunique          3            14       12          25             11

         SleepTrouble  PhysActive  PhysActiveDays  TVHrsDay  CompHrsDay  \
nunique             2           2               7         7           7

         TVHrsDayChild  CompHrsDayChild  Alcohol12PlusYr  AlcoholDay  \
nunique              7                7                2          25

         AlcoholYear  SmokeNow  Smoke100  Smoke100n  SmokeAge  Marijuana  \
nunique           62         2         2          2        41          2

         AgeFirstMarij  RegularMarij  AgeRegMarij  HardDrugs  SexEver  SexAge  \
nunique             38             2           36          2        2      35

         SexNumPartnLife  SexNumPartYear  SameSex  SexOrientation  PregnantNow
nunique               90              23        2               3            3

In [8]:
#6779 rows with unique id's, 7832 rows in total. For unique id's check how many entries per column. Sorting by highest amount
grouped = nhanes_data1.groupby('ID').count().reset_index()
grouped.sort_values('SurveyYr', ascending = False)

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
3958,63297,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,5,0,5,5,5,5,5,0,0,0,5,5,5,4,5,5,0,0,5,0,5,0,5,5,0,5,5,5,0,5,5,5,5,5,5,5,0
5202,67118,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,5,0,5,5,5,5,5,5,5,5,5,5,5,4,5,5,0,0,5,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5,0,5
3909,63149,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,4,5,5,0,0,5,5,5,0,5,5,0,5,0,5,0,5,5,5,5,5,5,5,5
3785,62804,4,4,4,4,0,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,4,0,4,4,4,4,4,0,0,0,4,4,4,3,4,4,0,0,4,4,4,0,4,4,0,0,0,0,0,4,4,4,4,0,4,0,0
4262,64228,4,4,4,4,0,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,4,4,4,4,4,0,0,0,4,4,4,4,4,4,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256,58283,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,1,1,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,1,1,1,1,0,1,0,0
2255,58276,1,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,1,1,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2254,58275,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,1,1,1,1,1,0,0,0,1,1,1,1,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
2253,58274,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,1,1,0,1,1,0,1,0,1,0,1,1,1,1,1,1,1,0
3389,61615,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [9]:
#sample id's with more than one entry and compare
nhanes_data1[nhanes_data1['ID'] == 63297]

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
5608,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,NaN,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5609,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,6.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5611,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,3.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5612,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,2.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5613,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,4.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN

In [10]:
nhanes_data1[nhanes_data1['ID'] == 67118]

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
7541,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,5.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7542,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,3.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7543,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,4.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7544,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,NaN,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7545,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,1.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No

In [11]:
#For both sampled id's, all row entries match with the exception of'PhysActiveDays' as this is bad data. Remove this column and reassess number of rows after again dropping dulicates
del nhanes_data1['PhysActiveDays']

In [12]:
nhanes_data2 = nhanes_data1.drop_duplicates()

In [13]:
#There are now 6779 rows matching 6779 unique id's
print(nhanes_data2)

         ID SurveyYr  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     51624  2009_10    male   34     30-39      409.0    White      NaN
3     51625  2009_10    male    4       0-9       49.0    Other      NaN
4     51630  2009_10  female   49     40-49      596.0    White      NaN
5     51638  2009_10    male    9       0-9      115.0    White      NaN
6     51646  2009_10    male    8       0-9      101.0    White      NaN
...     ...      ...     ...  ...       ...        ...      ...      ...
9991  71908  2011_12  female   66     60-69        NaN    White    White
9993  71909  2011_12    male   28     20-29        NaN  Mexican  Mexican
9996  71910  2011_12  female    0       0-9        5.0    White    White
9997  71911  2011_12    male   27     20-29        NaN  Mexican  Mexican
9998  71915  2011_12    male   60     60-69        NaN    White    White

           Education MaritalStatus     HHIncome  HHIncomeMid  Poverty  \
0        High School       Married  25000-34999      30000.0     1.36
3                NaN           NaN  20000-24999      22500.0     1.07
4       Some College   LivePartner  35000-44999      40000.0     1.91
5                NaN           NaN  75000-99999      87500.0     1.84
6                NaN           NaN  55000-64999      60000.0     2.33
...              ...           ...          ...          ...      ...
9991    College Grad       Widowed  65000-74999      70000.0     4.55
9993  9 - 11th Grade  NeverMarried    5000-9999       7500.0     0.46
9996             NaN           NaN  75000-99999      87500.0     3.37
9997    College Grad       Married  75000-99999      87500.0     3.25
9998    College Grad  NeverMarried  65000-74999      70000.0     5.00

      HomeRooms HomeOwn        Work  Weight  Length  HeadCirc  Height    BMI  \
0           6.0     Own  NotWorking    87.4     NaN       NaN   164.7  32.22
3           9.0     Own         NaN    17.0     NaN       NaN   105.4  15.30
4           5.0    Rent  NotWorking    86.7     NaN       NaN   168.4  30.57
5           6.0    Rent         NaN    29.8     NaN       NaN   133.1  16.82
6           7.0     Own         NaN    35.2     NaN       NaN   130.6  20.64
...         ...     ...         ...     ...     ...       ...     ...    ...
9991        8.0     Own     Working    88.7     NaN       NaN   159.0  35.10
9993        3.0    Rent     Working    92.3     NaN       NaN   177.3  29.40
9996       10.0     Own         NaN     6.7    67.6      42.2     NaN    NaN
9997       10.0     Own     Working    96.7     NaN       NaN   175.8  31.30
9998        4.0     Own     Working    78.4     NaN       NaN   168.8  27.50

     BMICatUnder20yrs       BMI_WHO  Pulse  BPSysAve  BPDiaAve  BPSys1  \
0                 NaN     30.0_plus   70.0     113.0      85.0   114.0
3                 NaN     12.0_18.5    NaN       NaN       NaN     NaN
4                 NaN     30.0_plus   86.0     112.0      75.0   118.0
5                 NaN     12.0_18.5   82.0      86.0      47.0    84.0
6                 NaN  18.5_to_24.9   72.0     107.0      37.0   114.0
...               ...           ...    ...       ...       ...     ...
9991              NaN     30.0_plus   76.0     114.0      70.0   110.0
9993              NaN  25.0_to_29.9   68.0     124.0      65.0   124.0
9996              NaN           NaN    NaN       NaN       NaN     NaN
9997              NaN     30.0_plus   74.0     133.0      74.0   122.0
9998              NaN  25.0_to_29.9   76.0     147.0      73.0   150.0

      BPDia1  BPSys2  BPDia2  BPSys3  BPDia3  Testosterone  DirectChol  \
0       88.0   114.0    88.0   112.0    82.0           NaN        1.29
3        NaN     NaN     NaN     NaN     NaN           NaN         NaN
4       82.0   108.0    74.0   116.0    76.0           NaN        1.16
5       50.0    84.0    50.0    88.0    44.0           NaN        1.34
6       46.0   108.0    36.0   106.0    38.0           NaN        1.55
...      ...     ...     ...     ...     ...           ...         ...
9991    74.0   114.0    68.0   114.0    72.0         26.00        1.86
9993    62.0   126.0    64.0   122.0    66.0        490.43        1.22
9996     NaN     NaN     NaN     NaN     NaN           NaN         NaN
9997    76.0   132.0    82.0   134.0    66.0        509.00        1.06
9998    72.0   148.0    74.0   146.0    72.0        505.13        0.93

      TotChol  UrineVol1  UrineFlow1  UrineVol2  UrineFlow2 Diabetes  \
0        3.49      352.0         NaN        NaN         NaN       No
3         NaN        NaN         NaN        NaN         NaN       No
4        6.70       77.0       0.094        NaN         NaN       No
5        4.86      123.0       1.538        NaN         NaN       No
6        4.09      238.0       1.322        NaN         NaN       No
...       ...        ...         ...        ...         ...      ...
9991     6.47       29.0       0.659       94.0       0.627       No
9993     3.90       97.0       0.942        NaN         NaN       No
9996      NaN        NaN         NaN        NaN         NaN      NaN
9997     5.72       63.0       0.600        NaN         NaN       No
9998     4.94      218.0       1.253        NaN         NaN      Yes

      DiabetesAge  HealthGen  DaysPhysHlthBad  DaysMentHlthBad LittleInterest  \
0             NaN       Good              0.0             15.0           Most
3             NaN        NaN              NaN              NaN            NaN
4             NaN       Good              0.0             10.0        Several
5             NaN        NaN              NaN              NaN            NaN
6             NaN        NaN              NaN              NaN            NaN
...           ...        ...              ...              ...            ...
9991          NaN  Excellent              0.0              0.0           None
9993          NaN        NaN              NaN              NaN            NaN
9996          NaN        NaN              NaN              NaN            NaN
9997          NaN       Good              0.0              2.0           None
9998         56.0       Good              0.0              2.0           None

     Depressed  nPregnancies  nBabies  Age1stBaby  SleepHrsNight SleepTrouble  \
0      Several           NaN      NaN         NaN            4.0          Yes
3          NaN           NaN      NaN         NaN            NaN          NaN
4      Several           2.0      2.0        27.0            8.0          Yes
5          NaN           NaN      NaN         NaN            NaN          NaN
6          NaN           NaN      NaN         NaN            NaN          NaN
...        ...           ...      ...         ...            ...          ...
9991      None           2.0      2.0        22.0            6.0           No
9993       NaN           NaN      NaN         NaN            6.0           No
9996       NaN           NaN      NaN         NaN            NaN          NaN
9997      None           NaN      NaN         NaN            6.0           No
9998      None           NaN      NaN         NaN            6.0           No

     PhysActive TVHrsDay CompHrsDay  TVHrsDayChild  CompHrsDayChild  \
0            No      NaN        NaN            NaN              NaN
3           NaN      NaN        NaN            4.0              1.0
4            No      NaN        NaN            NaN              NaN
5           NaN      NaN        NaN            5.0              0.0
6           NaN      NaN        NaN            1.0              6.0
...         ...      ...        ...            ...              ...
9991         No     2_hr  0_to_1_hr            NaN              NaN
9993        Yes     1_hr       2_hr            NaN              NaN
9996        NaN      NaN        NaN            NaN              NaN
9997         No     1_hr  0_to_1_hr            NaN              NaN
9998         No     2_hr       1_hr            NaN              NaN

     Alcohol12PlusYr  AlcoholDay  AlcoholYear SmokeNow Smoke100   Smoke100n  \
0                Yes         NaN          0.0       No      Yes      Smoker
3                NaN         NaN          NaN      NaN      NaN         NaN
4                Yes         2.0         20.0      Yes      Yes      Smoker
5                NaN         NaN          NaN      NaN      NaN         NaN
6                NaN         NaN          NaN      NaN      NaN         NaN
...              ...         ...          ...      ...      ...         ...
9991              No         1.0          5.0      NaN       No  Non-Smoker
9993             NaN         NaN          NaN      Yes      Yes      Smoker
9996             NaN         NaN          NaN      NaN      NaN         NaN
9997             Yes         5.0          4.0      NaN       No  Non-Smoker
9998             Yes         NaN          0.0      NaN       No  Non-Smoker

      SmokeAge Marijuana  AgeFirstMarij RegularMarij  AgeRegMarij HardDrugs  \
0         18.0       Yes           17.0           No          NaN       Yes
3          NaN       NaN            NaN          NaN          NaN       NaN
4         38.0       Yes           18.0           No          NaN       Yes
5          NaN       NaN            NaN          NaN          NaN       NaN
6          NaN       NaN            NaN          NaN          NaN       NaN
...        ...       ...            ...          ...          ...       ...
9991       NaN       NaN            NaN          NaN          NaN        No
9993      18.0       NaN            NaN          NaN          NaN       NaN
9996       NaN       NaN            NaN          NaN          NaN       NaN
9997       NaN       Yes           22.0           No          NaN        No
9998       NaN       NaN            NaN          NaN          NaN        No

     SexEver  SexAge  SexNumPartnLife  SexNumPartYear SameSex SexOrientation  \
0        Yes    16.0              8.0             1.0      No   Heterosexual
3        NaN     NaN              NaN             NaN     NaN            NaN
4        Yes    12.0             10.0             1.0     Yes   Heterosexual
5        NaN     NaN              NaN             NaN     NaN            NaN
6        NaN     NaN              NaN             NaN     NaN            NaN
...      ...     ...              ...             ...     ...            ...
9991     Yes    18.0              1.0             NaN      No            NaN
9993     NaN     NaN              NaN             NaN     NaN            NaN
9996     NaN     NaN              NaN             NaN     NaN            NaN
9997     Yes    21.0              1.0             1.0      No   Heterosexual
9998     Yes    19.0              2.0             NaN      No            NaN

     PregnantNow
0            NaN
3            NaN
4            NaN
5            NaN
6            NaN
...          ...
9991         NaN
9993         NaN
9996         NaN
9997         NaN
9998         NaN

[6779 rows x 75 columns]

In [14]:
#checking for null values
nhanes_data2.isnull().sum()

ID                    0
SurveyYr              0
Gender                0
Age                   0
AgeDecade           249
                   ...
SexNumPartnLife    3192
SexNumPartYear     3705
SameSex            3164
SexOrientation     3770
PregnantNow        5660
Length: 75, dtype: int64

In [15]:
nhanes_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6779 entries, 0 to 9998
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6779 non-null   int64
 1   SurveyYr          6779 non-null   object
 2   Gender            6779 non-null   object
 3   Age               6779 non-null   int64
 4   AgeDecade         6530 non-null   object
 5   AgeMonths         3549 non-null   float64
 6   Race1             6779 non-null   object
 7   Race3             3211 non-null   object
 8   Education         4645 non-null   object
 9   MaritalStatus     4650 non-null   object
 10  HHIncome          6194 non-null   object
 11  HHIncomeMid       6194 non-null   float64
 12  Poverty           6261 non-null   float64
 13  HomeRooms         6731 non-null   float64
 14  HomeOwn           6735 non-null   object
 15  Work              5046 non-null   object
 16  Weight            6724 non-null   float64
 17  Length            462 non-null    float64
 18  HeadCirc          77 non-null     float64
 19  Height            6481 non-null   float64
 20  BMI               6475 non-null   float64
 21  BMICatUnder20yrs  922 non-null    object
 22  BMI_WHO           6450 non-null   object
 23  Pulse             5652 non-null   float64
 24  BPSysAve          5642 non-null   float64
 25  BPDiaAve          5642 non-null   float64
 26  BPSys1            5427 non-null   float64
 27  BPDia1            5427 non-null   float64
 28  BPSys2            5501 non-null   float64
 29  BPDia2            5501 non-null   float64
 30  BPSys3            5499 non-null   float64
 31  BPDia3            5499 non-null   float64
 32  Testosterone      2561 non-null   float64
 33  DirectChol        5596 non-null   float64
 34  TotChol           5596 non-null   float64
 35  UrineVol1         5988 non-null   float64
 36  UrineFlow1        5561 non-null   float64
 37  UrineVol2         974 non-null    float64
 38  UrineFlow2        973 non-null    float64
 39  Diabetes          6653 non-null   object
 40  DiabetesAge       457 non-null    float64
 41  HealthGen         4898 non-null   object
 42  DaysPhysHlthBad   4891 non-null   float64
 43  DaysMentHlthBad   4893 non-null   float64
 44  LittleInterest    4270 non-null   object
 45  Depressed         4272 non-null   object
 46  nPregnancies      1696 non-null   float64
 47  nBabies           1577 non-null   float64
 48  Age1stBaby        1245 non-null   float64
 49  SleepHrsNight     5035 non-null   float64
 50  SleepTrouble      5047 non-null   object
 51  PhysActive        5445 non-null   object
 52  TVHrsDay          3093 non-null   object
 53  CompHrsDay        3096 non-null   object
 54  TVHrsDayChild     534 non-null    float64
 55  CompHrsDayChild   534 non-null    float64
 56  Alcohol12PlusYr   4199 non-null   object
 57  AlcoholDay        3066 non-null   float64
 58  AlcoholYear       3730 non-null   float64
 59  SmokeNow          2056 non-null   object
 60  Smoke100          4654 non-null   object
 61  Smoke100n         4654 non-null   object
 62  SmokeAge          1972 non-null   float64
 63  Marijuana         3083 non-null   object
 64  AgeFirstMarij     1726 non-null   float64
 65  RegularMarij      3083 non-null   object
 66  AgeRegMarij       827 non-null    float64
 67  HardDrugs         3615 non-null   object
 68  SexEver           3615 non-null   object
 69  SexAge            3454 non-null   float64
 70  SexNumPartnLife   3587 non-null   float64
 71  SexNumPartYear    3074 non-null   float64
 72  SameSex           3615 non-null   object
 73  SexOrientation    3009 non-null   object
 74  PregnantNow       1119 non-null   object
dtypes: float64(42), int64(2), object(31)
memory usage: 3.9+ MB

In [16]:
#Set index to ID
nhanes_data3 = pd.DataFrame(nhanes_data2.set_index('ID'))
print(nhanes_data3)

      SurveyYr  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
ID
51624  2009_10    male   34     30-39      409.0    White      NaN
51625  2009_10    male    4       0-9       49.0    Other      NaN
51630  2009_10  female   49     40-49      596.0    White      NaN
51638  2009_10    male    9       0-9      115.0    White      NaN
51646  2009_10    male    8       0-9      101.0    White      NaN
...        ...     ...  ...       ...        ...      ...      ...
71908  2011_12  female   66     60-69        NaN    White    White
71909  2011_12    male   28     20-29        NaN  Mexican  Mexican
71910  2011_12  female    0       0-9        5.0    White    White
71911  2011_12    male   27     20-29        NaN  Mexican  Mexican
71915  2011_12    male   60     60-69        NaN    White    White

            Education MaritalStatus     HHIncome  HHIncomeMid  Poverty  \
ID
51624     High School       Married  25000-34999      30000.0     1.36
51625             NaN           NaN  20000-24999      22500.0     1.07
51630    Some College   LivePartner  35000-44999      40000.0     1.91
51638             NaN           NaN  75000-99999      87500.0     1.84
51646             NaN           NaN  55000-64999      60000.0     2.33
...               ...           ...          ...          ...      ...
71908    College Grad       Widowed  65000-74999      70000.0     4.55
71909  9 - 11th Grade  NeverMarried    5000-9999       7500.0     0.46
71910             NaN           NaN  75000-99999      87500.0     3.37
71911    College Grad       Married  75000-99999      87500.0     3.25
71915    College Grad  NeverMarried  65000-74999      70000.0     5.00

       HomeRooms HomeOwn        Work  Weight  Length  HeadCirc  Height    BMI  \
ID
51624        6.0     Own  NotWorking    87.4     NaN       NaN   164.7  32.22
51625        9.0     Own         NaN    17.0     NaN       NaN   105.4  15.30
51630        5.0    Rent  NotWorking    86.7     NaN       NaN   168.4  30.57
51638        6.0    Rent         NaN    29.8     NaN       NaN   133.1  16.82
51646        7.0     Own         NaN    35.2     NaN       NaN   130.6  20.64
...          ...     ...         ...     ...     ...       ...     ...    ...
71908        8.0     Own     Working    88.7     NaN       NaN   159.0  35.10
71909        3.0    Rent     Working    92.3     NaN       NaN   177.3  29.40
71910       10.0     Own         NaN     6.7    67.6      42.2     NaN    NaN
71911       10.0     Own     Working    96.7     NaN       NaN   175.8  31.30
71915        4.0     Own     Working    78.4     NaN       NaN   168.8  27.50

      BMICatUnder20yrs       BMI_WHO  Pulse  BPSysAve  BPDiaAve  BPSys1  \
ID
51624              NaN     30.0_plus   70.0     113.0      85.0   114.0
51625              NaN     12.0_18.5    NaN       NaN       NaN     NaN
51630              NaN     30.0_plus   86.0     112.0      75.0   118.0
51638              NaN     12.0_18.5   82.0      86.0      47.0    84.0
51646              NaN  18.5_to_24.9   72.0     107.0      37.0   114.0
...                ...           ...    ...       ...       ...     ...
71908              NaN     30.0_plus   76.0     114.0      70.0   110.0
71909              NaN  25.0_to_29.9   68.0     124.0      65.0   124.0
71910              NaN           NaN    NaN       NaN       NaN     NaN
71911              NaN     30.0_plus   74.0     133.0      74.0   122.0
71915              NaN  25.0_to_29.9   76.0     147.0      73.0   150.0

       BPDia1  BPSys2  BPDia2  BPSys3  BPDia3  Testosterone  DirectChol  \
ID
51624    88.0   114.0    88.0   112.0    82.0           NaN        1.29
51625     NaN     NaN     NaN     NaN     NaN           NaN         NaN
51630    82.0   108.0    74.0   116.0    76.0           NaN        1.16
51638    50.0    84.0    50.0    88.0    44.0           NaN        1.34
51646    46.0   108.0    36.0   106.0    38.0           NaN        1.55
...       ...     ...     ...     ...     ...           ...         ...
71908    74.0   114.0    68.0   114.0    72.0         26.00        1.86
71909    62.0   126.0    64.0   122.0    66.0        490.43        1.22
71910     NaN     NaN     NaN     NaN     NaN           NaN         NaN
71911    76.0   132.0    82.0   134.0    66.0        509.00        1.06
71915    72.0   148.0    74.0   146.0    72.0        505.13        0.93

       TotChol  UrineVol1  UrineFlow1  UrineVol2  UrineFlow2 Diabetes  \
ID
51624     3.49      352.0         NaN        NaN         NaN       No
51625      NaN        NaN         NaN        NaN         NaN       No
51630     6.70       77.0       0.094        NaN         NaN       No
51638     4.86      123.0       1.538        NaN         NaN       No
51646     4.09      238.0       1.322        NaN         NaN       No
...        ...        ...         ...        ...         ...      ...
71908     6.47       29.0       0.659       94.0       0.627       No
71909     3.90       97.0       0.942        NaN         NaN       No
71910      NaN        NaN         NaN        NaN         NaN      NaN
71911     5.72       63.0       0.600        NaN         NaN       No
71915     4.94      218.0       1.253        NaN         NaN      Yes

       DiabetesAge  HealthGen  DaysPhysHlthBad  DaysMentHlthBad  \
ID
51624          NaN       Good              0.0             15.0
51625          NaN        NaN              NaN              NaN
51630          NaN       Good              0.0             10.0
51638          NaN        NaN              NaN              NaN
51646          NaN        NaN              NaN              NaN
...            ...        ...              ...              ...
71908          NaN  Excellent              0.0              0.0
71909          NaN        NaN              NaN              NaN
71910          NaN        NaN              NaN              NaN
71911          NaN       Good              0.0              2.0
71915         56.0       Good              0.0              2.0

      LittleInterest Depressed  nPregnancies  nBabies  Age1stBaby  \
ID
51624           Most   Several           NaN      NaN         NaN
51625            NaN       NaN           NaN      NaN         NaN
51630        Several   Several           2.0      2.0        27.0
51638            NaN       NaN           NaN      NaN         NaN
51646            NaN       NaN           NaN      NaN         NaN
...              ...       ...           ...      ...         ...
71908           None      None           2.0      2.0        22.0
71909            NaN       NaN           NaN      NaN         NaN
71910            NaN       NaN           NaN      NaN         NaN
71911           None      None           NaN      NaN         NaN
71915           None      None           NaN      NaN         NaN

       SleepHrsNight SleepTrouble PhysActive TVHrsDay CompHrsDay  \
ID
51624            4.0          Yes         No      NaN        NaN
51625            NaN          NaN        NaN      NaN        NaN
51630            8.0          Yes         No      NaN        NaN
51638            NaN          NaN        NaN      NaN        NaN
51646            NaN          NaN        NaN      NaN        NaN
...              ...          ...        ...      ...        ...
71908            6.0           No         No     2_hr  0_to_1_hr
71909            6.0           No        Yes     1_hr       2_hr
71910            NaN          NaN        NaN      NaN        NaN
71911            6.0           No         No     1_hr  0_to_1_hr
71915            6.0           No         No     2_hr       1_hr

       TVHrsDayChild  CompHrsDayChild Alcohol12PlusYr  AlcoholDay  \
ID
51624            NaN              NaN             Yes         NaN
51625            4.0              1.0             NaN         NaN
51630            NaN              NaN             Yes         2.0
51638            5.0              0.0             NaN         NaN
51646            1.0              6.0             NaN         NaN
...              ...              ...             ...         ...
71908            NaN              NaN              No         1.0
71909            NaN              NaN             NaN         NaN
71910            NaN              NaN             NaN         NaN
71911            NaN              NaN             Yes         5.0
71915            NaN              NaN             Yes         NaN

       AlcoholYear SmokeNow Smoke100   Smoke100n  SmokeAge Marijuana  \
ID
51624          0.0       No      Yes      Smoker      18.0       Yes
51625          NaN      NaN      NaN         NaN       NaN       NaN
51630         20.0      Yes      Yes      Smoker      38.0       Yes
51638          NaN      NaN      NaN         NaN       NaN       NaN
51646          NaN      NaN      NaN         NaN       NaN       NaN
...            ...      ...      ...         ...       ...       ...
71908          5.0      NaN       No  Non-Smoker       NaN       NaN
71909          NaN      Yes      Yes      Smoker      18.0       NaN
71910          NaN      NaN      NaN         NaN       NaN       NaN
71911          4.0      NaN       No  Non-Smoker       NaN       Yes
71915          0.0      NaN       No  Non-Smoker       NaN       NaN

       AgeFirstMarij RegularMarij  AgeRegMarij HardDrugs SexEver  SexAge  \
ID
51624           17.0           No          NaN       Yes     Yes    16.0
51625            NaN          NaN          NaN       NaN     NaN     NaN
51630           18.0           No          NaN       Yes     Yes    12.0
51638            NaN          NaN          NaN       NaN     NaN     NaN
51646            NaN          NaN          NaN       NaN     NaN     NaN
...              ...          ...          ...       ...     ...     ...
71908            NaN          NaN          NaN        No     Yes    18.0
71909            NaN          NaN          NaN       NaN     NaN     NaN
71910            NaN          NaN          NaN       NaN     NaN     NaN
71911           22.0           No          NaN        No     Yes    21.0
71915            NaN          NaN          NaN        No     Yes    19.0

       SexNumPartnLife  SexNumPartYear SameSex SexOrientation PregnantNow
ID
51624              8.0             1.0      No   Heterosexual         NaN
51625              NaN             NaN     NaN            NaN         NaN
51630             10.0             1.0     Yes   Heterosexual         NaN
51638              NaN             NaN     NaN            NaN         NaN
51646              NaN             NaN     NaN            NaN         NaN
...                ...             ...     ...            ...         ...
71908              1.0             NaN      No            NaN         NaN
71909              NaN             NaN     NaN            NaN         NaN
71910              NaN             NaN     NaN            NaN         NaN
71911              1.0             1.0      No   Heterosexual         NaN
71915              2.0             NaN      No            NaN         NaN

[6779 rows x 74 columns]

In [17]:
#Replace null values with "Invalid answer"
nhanes_data3 = nhanes_data3.fillna("Invalid answer")

In [18]:
#There are 6 different Marital Status, what are these?
mstat_unique_values = (nhanes_data3['MaritalStatus']).unique()
print(mstat_unique_values)

['Married' 'Invalid answer' 'LivePartner' 'Divorced' 'NeverMarried'
 'Separated' 'Widowed']

In [19]:
#Depressed unique answers
depressed_unique_values = (nhanes_data3['Depressed']).unique()
print(depressed_unique_values)

['Several' 'Invalid answer' 'None' 'Most']

In [20]:
education_unique_values = (nhanes_data3['Education']).unique()
print(education_unique_values)

['High School' 'Invalid answer' 'Some College' 'College Grad'
 '9 - 11th Grade' '8th Grade']

In [21]:
work_unique_values = (nhanes_data3['Work']).unique()
print(work_unique_values)

['NotWorking' 'Invalid answer' 'Working' 'Looking']

In [22]:
#create subset of adults 21 and over
adult_nhanes = nhanes_data3[nhanes_data3['Age']>=21]
print(adult_nhanes)

      SurveyYr  Gender  Age       AgeDecade       AgeMonths    Race1  \
ID
51624  2009_10    male   34           30-39           409.0    White
51630  2009_10  female   49           40-49           596.0    White
51647  2009_10  female   45           40-49           541.0    White
51654  2009_10    male   66           60-69           795.0    White
51656  2009_10    male   58           50-59           707.0    White
...        ...     ...  ...             ...             ...      ...
71907  2011_12    male   80  Invalid answer  Invalid answer    White
71908  2011_12  female   66           60-69  Invalid answer    White
71909  2011_12    male   28           20-29  Invalid answer  Mexican
71911  2011_12    male   27           20-29  Invalid answer  Mexican
71915  2011_12    male   60           60-69  Invalid answer    White

                Race3       Education MaritalStatus     HHIncome HHIncomeMid  \
ID
51624  Invalid answer     High School       Married  25000-34999     30000.0
51630  Invalid answer    Some College   LivePartner  35000-44999     40000.0
51647  Invalid answer    College Grad       Married  75000-99999     87500.0
51654  Invalid answer    Some College       Married  25000-34999     30000.0
51656  Invalid answer    College Grad      Divorced   more 99999    100000.0
...               ...             ...           ...          ...         ...
71907           White     High School       Married  55000-64999     60000.0
71908           White    College Grad       Widowed  65000-74999     70000.0
71909         Mexican  9 - 11th Grade  NeverMarried    5000-9999      7500.0
71911         Mexican    College Grad       Married  75000-99999     87500.0
71915           White    College Grad  NeverMarried  65000-74999     70000.0

      Poverty HomeRooms HomeOwn        Work Weight          Length  \
ID
51624    1.36       6.0     Own  NotWorking   87.4  Invalid answer
51630    1.91       5.0    Rent  NotWorking   86.7  Invalid answer
51647     5.0       6.0     Own     Working   75.7  Invalid answer
51654     2.2       5.0     Own  NotWorking   68.0  Invalid answer
51656     5.0      10.0    Rent     Working   78.4  Invalid answer
...       ...       ...     ...         ...    ...             ...
71907    4.08       6.0     Own  NotWorking   71.5  Invalid answer
71908    4.55       8.0     Own     Working   88.7  Invalid answer
71909    0.46       3.0    Rent     Working   92.3  Invalid answer
71911    3.25      10.0     Own     Working   96.7  Invalid answer
71915     5.0       4.0     Own     Working   78.4  Invalid answer

             HeadCirc Height    BMI BMICatUnder20yrs       BMI_WHO Pulse  \
ID
51624  Invalid answer  164.7  32.22   Invalid answer     30.0_plus  70.0
51630  Invalid answer  168.4  30.57   Invalid answer     30.0_plus  86.0
51647  Invalid answer  166.7  27.24   Invalid answer  25.0_to_29.9  62.0
51654  Invalid answer  169.5  23.67   Invalid answer  18.5_to_24.9  60.0
51656  Invalid answer  181.9  23.69   Invalid answer  18.5_to_24.9  62.0
...               ...    ...    ...              ...           ...   ...
71907  Invalid answer  175.4   23.2   Invalid answer  18.5_to_24.9  54.0
71908  Invalid answer  159.0   35.1   Invalid answer     30.0_plus  76.0
71909  Invalid answer  177.3   29.4   Invalid answer  25.0_to_29.9  68.0
71911  Invalid answer  175.8   31.3   Invalid answer     30.0_plus  74.0
71915  Invalid answer  168.8   27.5   Invalid answer  25.0_to_29.9  76.0

      BPSysAve BPDiaAve BPSys1 BPDia1 BPSys2 BPDia2 BPSys3 BPDia3  \
ID
51624    113.0     85.0  114.0   88.0  114.0   88.0  112.0   82.0
51630    112.0     75.0  118.0   82.0  108.0   74.0  116.0   76.0
51647    118.0     64.0  106.0   62.0  118.0   68.0  118.0   60.0
51654    111.0     63.0  124.0   64.0  108.0   62.0  114.0   64.0
51656    104.0     74.0  108.0   76.0  104.0   72.0  104.0   76.0
...        ...      ...    ...    ...    ...    ...    ...    ...
71907    148.0     70.0  150.0   72.0  150.0   70.0  146.0   70.0
71908    114.0     70.0  110.0   74.0  114.0   68.0  114.0   72.0
71909    124.0     65.0  124.0   62.0  126.0   64.0  122.0   66.0
71911    133.0     74.0  122.0   76.0  132.0   82.0  134.0   66.0
71915    147.0     73.0  150.0   72.0  148.0   74.0  146.0   72.0

         Testosterone DirectChol TotChol UrineVol1      UrineFlow1  \
ID
51624  Invalid answer       1.29    3.49     352.0  Invalid answer
51630  Invalid answer       1.16     6.7      77.0           0.094
51647  Invalid answer       2.12    5.82     106.0           1.116
51654  Invalid answer       0.67    4.99     113.0           0.489
51656  Invalid answer       0.96    4.24     163.0  Invalid answer
...               ...        ...     ...       ...             ...
71907           402.9       1.27    4.37      61.0           1.052
71908            26.0       1.86    6.47      29.0           0.659
71909          490.43       1.22     3.9      97.0           0.942
71911           509.0       1.06    5.72      63.0             0.6
71915          505.13       0.93    4.94     218.0           1.253

            UrineVol2      UrineFlow2 Diabetes     DiabetesAge  \
ID
51624  Invalid answer  Invalid answer       No  Invalid answer
51630  Invalid answer  Invalid answer       No  Invalid answer
51647  Invalid answer  Invalid answer       No  Invalid answer
51654  Invalid answer  Invalid answer       No  Invalid answer
51656  Invalid answer  Invalid answer       No  Invalid answer
...               ...             ...      ...             ...
71907  Invalid answer  Invalid answer       No  Invalid answer
71908            94.0           0.627       No  Invalid answer
71909  Invalid answer  Invalid answer       No  Invalid answer
71911  Invalid answer  Invalid answer       No  Invalid answer
71915  Invalid answer  Invalid answer      Yes            56.0

            HealthGen DaysPhysHlthBad DaysMentHlthBad  LittleInterest  \
ID
51624            Good             0.0            15.0            Most
51630            Good             0.0            10.0         Several
51647           Vgood             0.0             3.0            None
51654           Vgood            10.0             0.0            None
51656           Vgood             0.0             0.0            None
...               ...             ...             ...             ...
71907            Good             0.0             0.0            None
71908       Excellent             0.0             0.0            None
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911            Good             0.0             2.0            None
71915            Good             0.0             2.0            None

            Depressed    nPregnancies         nBabies      Age1stBaby  \
ID
51624         Several  Invalid answer  Invalid answer  Invalid answer
51630         Several             2.0             2.0            27.0
51647            None             1.0  Invalid answer  Invalid answer
51654            None  Invalid answer  Invalid answer  Invalid answer
51656            None  Invalid answer  Invalid answer  Invalid answer
...               ...             ...             ...             ...
71907            None  Invalid answer  Invalid answer  Invalid answer
71908            None             2.0             2.0            22.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911            None  Invalid answer  Invalid answer  Invalid answer
71915            None  Invalid answer  Invalid answer  Invalid answer

      SleepHrsNight SleepTrouble PhysActive        TVHrsDay      CompHrsDay  \
ID
51624           4.0          Yes         No  Invalid answer  Invalid answer
51630           8.0          Yes         No  Invalid answer  Invalid answer
51647           8.0           No        Yes  Invalid answer  Invalid answer
51654           7.0           No        Yes  Invalid answer  Invalid answer
51656           5.0           No        Yes  Invalid answer  Invalid answer
...             ...          ...        ...             ...             ...
71907           5.0           No        Yes            3_hr           0_hrs
71908           6.0           No         No            2_hr       0_to_1_hr
71909           6.0           No        Yes            1_hr            2_hr
71911           6.0           No         No            1_hr       0_to_1_hr
71915           6.0           No         No            2_hr            1_hr

        TVHrsDayChild CompHrsDayChild Alcohol12PlusYr      AlcoholDay  \
ID
51624  Invalid answer  Invalid answer             Yes  Invalid answer
51630  Invalid answer  Invalid answer             Yes             2.0
51647  Invalid answer  Invalid answer             Yes             3.0
51654  Invalid answer  Invalid answer             Yes             1.0
51656  Invalid answer  Invalid answer             Yes             2.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer             Yes  Invalid answer
71908  Invalid answer  Invalid answer              No             1.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911  Invalid answer  Invalid answer             Yes             5.0
71915  Invalid answer  Invalid answer             Yes  Invalid answer

          AlcoholYear        SmokeNow Smoke100   Smoke100n        SmokeAge  \
ID
51624             0.0              No      Yes      Smoker            18.0
51630            20.0             Yes      Yes      Smoker            38.0
51647            52.0  Invalid answer       No  Non-Smoker  Invalid answer
51654           100.0              No      Yes      Smoker            13.0
51656           104.0  Invalid answer       No  Non-Smoker  Invalid answer
...               ...             ...      ...         ...             ...
71907             0.0  Invalid answer       No  Non-Smoker  Invalid answer
71908             5.0  Invalid answer       No  Non-Smoker  Invalid answer
71909  Invalid answer             Yes      Yes      Smoker            18.0
71911             4.0  Invalid answer       No  Non-Smoker  Invalid answer
71915             0.0  Invalid answer       No  Non-Smoker  Invalid answer

            Marijuana   AgeFirstMarij    RegularMarij     AgeRegMarij  \
ID
51624             Yes            17.0              No  Invalid answer
51630             Yes            18.0              No  Invalid answer
51647             Yes            13.0              No  Invalid answer
51654  Invalid answer  Invalid answer  Invalid answer  Invalid answer
51656             Yes            19.0             Yes            20.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911             Yes            22.0              No  Invalid answer
71915  Invalid answer  Invalid answer  Invalid answer  Invalid answer

            HardDrugs         SexEver          SexAge SexNumPartnLife  \
ID
51624             Yes             Yes            16.0             8.0
51630             Yes             Yes            12.0            10.0
51647              No             Yes            13.0            20.0
51654              No             Yes            17.0            15.0
51656             Yes             Yes            22.0             7.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908              No             Yes            18.0             1.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911              No             Yes            21.0             1.0
71915              No             Yes            19.0             2.0

       SexNumPartYear         SameSex  SexOrientation     PregnantNow
ID
51624             1.0              No    Heterosexual  Invalid answer
51630             1.0             Yes    Heterosexual  Invalid answer
51647             0.0             Yes        Bisexual  Invalid answer
51654  Invalid answer              No  Invalid answer  Invalid answer
51656             1.0              No    Heterosexual  Invalid answer
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908  Invalid answer              No  Invalid answer  Invalid answer
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911             1.0              No    Heterosexual  Invalid answer
71915  Invalid answer              No  Invalid answer  Invalid answer

[4562 rows x 74 columns]

In [23]:
#4470 adults in subset
adult_nhanes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SurveyYr          4562 non-null   object
 1   Gender            4562 non-null   object
 2   Age               4562 non-null   int64
 3   AgeDecade         4562 non-null   object
 4   AgeMonths         4562 non-null   object
 5   Race1             4562 non-null   object
 6   Race3             4562 non-null   object
 7   Education         4562 non-null   object
 8   MaritalStatus     4562 non-null   object
 9   HHIncome          4562 non-null   object
 10  HHIncomeMid       4562 non-null   object
 11  Poverty           4562 non-null   object
 12  HomeRooms         4562 non-null   object
 13  HomeOwn           4562 non-null   object
 14  Work              4562 non-null   object
 15  Weight            4562 non-null   object
 16  Length            4562 non-null   object
 17  HeadCirc          4562 non-null   object
 18  Height            4562 non-null   object
 19  BMI               4562 non-null   object
 20  BMICatUnder20yrs  4562 non-null   object
 21  BMI_WHO           4562 non-null   object
 22  Pulse             4562 non-null   object
 23  BPSysAve          4562 non-null   object
 24  BPDiaAve          4562 non-null   object
 25  BPSys1            4562 non-null   object
 26  BPDia1            4562 non-null   object
 27  BPSys2            4562 non-null   object
 28  BPDia2            4562 non-null   object
 29  BPSys3            4562 non-null   object
 30  BPDia3            4562 non-null   object
 31  Testosterone      4562 non-null   object
 32  DirectChol        4562 non-null   object
 33  TotChol           4562 non-null   object
 34  UrineVol1         4562 non-null   object
 35  UrineFlow1        4562 non-null   object
 36  UrineVol2         4562 non-null   object
 37  UrineFlow2        4562 non-null   object
 38  Diabetes          4562 non-null   object
 39  DiabetesAge       4562 non-null   object
 40  HealthGen         4562 non-null   object
 41  DaysPhysHlthBad   4562 non-null   object
 42  DaysMentHlthBad   4562 non-null   object
 43  LittleInterest    4562 non-null   object
 44  Depressed         4562 non-null   object
 45  nPregnancies      4562 non-null   object
 46  nBabies           4562 non-null   object
 47  Age1stBaby        4562 non-null   object
 48  SleepHrsNight     4562 non-null   object
 49  SleepTrouble      4562 non-null   object
 50  PhysActive        4562 non-null   object
 51  TVHrsDay          4562 non-null   object
 52  CompHrsDay        4562 non-null   object
 53  TVHrsDayChild     4562 non-null   object
 54  CompHrsDayChild   4562 non-null   object
 55  Alcohol12PlusYr   4562 non-null   object
 56  AlcoholDay        4562 non-null   object
 57  AlcoholYear       4562 non-null   object
 58  SmokeNow          4562 non-null   object
 59  Smoke100          4562 non-null   object
 60  Smoke100n         4562 non-null   object
 61  SmokeAge          4562 non-null   object
 62  Marijuana         4562 non-null   object
 63  AgeFirstMarij     4562 non-null   object
 64  RegularMarij      4562 non-null   object
 65  AgeRegMarij       4562 non-null   object
 66  HardDrugs         4562 non-null   object
 67  SexEver           4562 non-null   object
 68  SexAge            4562 non-null   object
 69  SexNumPartnLife   4562 non-null   object
 70  SexNumPartYear    4562 non-null   object
 71  SameSex           4562 non-null   object
 72  SexOrientation    4562 non-null   object
 73  PregnantNow       4562 non-null   object
dtypes: int64(1), object(73)
memory usage: 2.6+ MB

In [24]:
#create a subset with the columns to focus on 
nhanes_analysis1 = adult_nhanes[["SurveyYr", "Age", "Education", "MaritalStatus", "HomeOwn", "Work", "HHIncome", "BMI", "DaysMentHlthBad", "Depressed", "TVHrsDay"]]
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

[4562 rows x 11 columns]

In [25]:
print(nhanes_analysis1['SurveyYr'].dtype)

object

In [26]:
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

[4562 rows x 11 columns]

In [27]:
#removing python warning with regard to sliced DataFrame
nhanes_analysis1.is_copy = False

In [28]:
#removing python warning with regard to sliced DataFrame
pd.set_option('mode.chained_assignment', None)

In [29]:
#to find year of birth we need the year of the survey, new column added
nhanes_analysis1['YearSurvey'] = nhanes_analysis1['SurveyYr'].str[:4]
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay  \
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

      YearSurvey
ID
51624       2009
51630       2009
51647       2009
51654       2009
51656       2009
...          ...
71907       2011
71908       2011
71909       2011
71911       2011
71915       2011

[4562 rows x 12 columns]

In [30]:
nhanes_analysis1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SurveyYr         4562 non-null   object
 1   Age              4562 non-null   int64
 2   Education        4562 non-null   object
 3   MaritalStatus    4562 non-null   object
 4   HomeOwn          4562 non-null   object
 5   Work             4562 non-null   object
 6   HHIncome         4562 non-null   object
 7   BMI              4562 non-null   object
 8   DaysMentHlthBad  4562 non-null   object
 9   Depressed        4562 non-null   object
 10  TVHrsDay         4562 non-null   object
 11  YearSurvey       4562 non-null   object
dtypes: int64(1), object(11)
memory usage: 463.3+ KB

In [31]:
#YearSurvey must be converted to int in order to calculate Year of Birth
nhanes_analysis1['YearSurvey'] = nhanes_analysis1['YearSurvey'].astype(int)

In [32]:
nhanes_analysis1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SurveyYr         4562 non-null   object
 1   Age              4562 non-null   int64
 2   Education        4562 non-null   object
 3   MaritalStatus    4562 non-null   object
 4   HomeOwn          4562 non-null   object
 5   Work             4562 non-null   object
 6   HHIncome         4562 non-null   object
 7   BMI              4562 non-null   object
 8   DaysMentHlthBad  4562 non-null   object
 9   Depressed        4562 non-null   object
 10  TVHrsDay         4562 non-null   object
 11  YearSurvey       4562 non-null   int32
dtypes: int32(1), int64(1), object(10)
memory usage: 445.5+ KB

In [33]:
#Year of birth calculation, new column added
nhanes_analysis1['YearOfBirth'] = nhanes_analysis1['YearSurvey'] - nhanes_analysis1['Age']
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay  \
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

       YearSurvey  YearOfBirth
ID
51624        2009         1975
51630        2009         1960
51647        2009         1964
51654        2009         1943
51656        2009         1951
...           ...          ...
71907        2011         1931
71908        2011         1945
71909        2011         1983
71911        2011         1984
71915        2011         1951

[4562 rows x 13 columns]

In [34]:
#Now we have our DataFrame for analysis , we can explore making columns into a list
zip(nhanes_analysis1.Age)

In [35]:
type(zip(nhanes_analysis1.Age))

zip

In [36]:
age_list = list(zip(nhanes_analysis1.Age))
print(age_list)

[(34,), (49,), (45,), (66,), (58,), (54,), (58,), (50,), (33,), (60,), (56,), (57,), (54,), (38,), (36,), (44,), (64,), (26,), (59,), (49,), (51,), (28,), (37,), (28,), (32,), (25,), (21,), (44,), (56,), (78,), (58,), (27,), (31,), (29,), (56,), (30,), (26,), (30,), (54,), (29,), (80,), (50,), (26,), (58,), (80,), (35,), (80,), (66,), (34,), (38,), (50,), (43,), (41,), (46,), (61,), (44,), (80,), (76,), (29,), (63,), (63,), (50,), (70,), (31,), (30,), (52,), (46,), (22,), (48,), (27,), (55,), (62,), (54,), (39,), (42,), (46,), (56,), (46,), (29,), (31,), (36,), (49,), (60,), (28,), (32,), (46,), (55,), (57,), (79,), (46,), (22,), (60,), (35,), (29,), (74,), (44,), (36,), (31,), (32,), (32,), (65,), (55,), (77,), (62,), (26,), (39,), (68,), (47,), (80,), (72,), (40,), (30,), (65,), (61,), (79,), (52,), (61,), (56,), (74,), (50,), (48,), (43,), (67,), (25,), (67,), (38,), (61,), (74,), (29,), (42,), (60,), (31,), (70,), (56,), (53,), (45,), (73,), (73,), (40,), (33,), (44,), (73,), (55,), (39,), (65,), (48,), (38,), (48,), (65,), (39,), (21,), (63,), (54,), (56,), (21,), (76,), (43,), (45,), (60,), (43,), (43,), (80,), (25,), (25,), (54,), (29,), (46,), (33,), (50,), (54,), (39,), (80,), (32,), (56,), (29,), (69,), (25,), (52,), (28,), (40,), (51,), (72,), (65,), (80,), (24,), (57,), (45,), (28,), (22,), (49,), (34,), (69,), (33,), (31,), (62,), (61,), (75,), (47,), (35,), (78,), (54,), (56,), (30,), (73,), (21,), (33,), (45,), (41,), (80,), (71,), (44,), (65,), (24,), (63,), (22,), (80,), (64,), (58,), (46,), (31,), (42,), (78,), (60,), (38,), (54,), (77,), (50,), (52,), (54,), (43,), (52,), (37,), (59,), (59,), (58,), (24,), (68,), (29,), (39,), (30,), (35,), (25,), (32,), (49,), (78,), (64,), (39,), (36,), (64,), (72,), (63,), (24,), (75,), (60,), (50,), (25,), (35,), (64,), (67,), (44,), (48,), (76,), (43,), (39,), (80,), (71,), (66,), (25,), (80,), (77,), (44,), (80,), (44,), (31,), (56,), (28,), (67,), (38,), (51,), (30,), (63,), (52,), (73,), (58,), (68,), (35,), (53,), (47,), (28,), (34,), (73,), (26,), (31,), (37,), (36,), (52,), (64,), (80,), (25,), (34,), (61,), (33,), (29,), (76,), (44,), (39,), (23,), (32,), (36,), (67,), (80,), (77,), (31,), (53,), (73,), (50,), (80,), (55,), (68,), (26,), (51,), (44,), (48,), (43,), (22,), (51,), (64,), (27,), (35,), (70,), (72,), (68,), (36,), (28,), (23,), (28,), (44,), (73,), (80,), (36,), (80,), (37,), (38,), (52,), (26,), (53,), (51,), (65,), (44,), (23,), (66,), (46,), (53,), (59,), (69,), (28,), (55,), (22,), (72,), (44,), (25,), (52,), (56,), (73,), (57,), (75,), (66,), (47,), (27,), (42,), (22,), (52,), (39,), (26,), (53,), (30,), (43,), (27,), (55,), (23,), (28,), (51,), (80,), (65,), (34,), (68,), (37,), (47,), (59,), (24,), (53,), (44,), (68,), (80,), (55,), (47,), (39,), (63,), (21,), (57,), (43,), (70,), (29,), (24,), (80,), (45,), (71,), (56,), (21,), (24,), (22,), (52,), (74,), (24,), (51,), (52,), (26,), (32,), (37,), (80,), (23,), (46,), (27,), (74,), (46,), (41,), (39,), (68,), (37,), (68,), (72,), (77,), (25,), (47,), (40,), (43,), (25,), (28,), (54,), (23,), (39,), (70,), (53,), (80,), (42,), (59,), (46,), (75,), (24,), (30,), (55,), (47,), (21,), (50,), (35,), (66,), (28,), (47,), (44,), (77,), (31,), (59,), (32,), (22,), (28,), (27,), (41,), (59,), (33,), (39,), (62,), (44,), (57,), (51,), (42,), (56,), (49,), (43,), (54,), (30,), (40,), (59,), (43,), (80,), (43,), (63,), (45,), (34,), (67,), (24,), (41,), (40,), (53,), (63,), (74,), (31,), (31,), (54,), (80,), (40,), (36,), (51,), (55,), (42,), (37,), (37,), (38,), (22,), (61,), (74,), (30,), (59,), (32,), (38,), (38,), (40,), (35,), (59,), (60,), (73,), (41,), (51,), (79,), (63,), (58,), (52,), (75,), (47,), (44,), (32,), (63,), (26,), (44,), (43,), (56,), (70,), (80,), (38,), (28,), (37,), (56,), (72,), (37,), (22,), (35,), (52,), (80,), (28,), (54,), (29,), (75,), (60,), (30,), (29,), (33,), (48,), (22,), (31,), (24,), (59,), (35,), (41,), (31,), (52,), (50,), (41,), (30,), (29,), (29,), (45,), (61,), (40,), (24,), (60,), (79,), (80,), (46,), (50,), (62,), (39,), (40,), (43,), (40,), (52,), (44,), (38,), (25,), (49,), (62,), (27,), (80,), (28,), (37,), (73,), (68,), (47,), (75,), (65,), (62,), (47,), (22,), (47,), (34,), (48,), (35,), (33,), (43,), (55,), (67,), (71,), (64,), (34,), (64,), (29,), (29,), (43,), (23,), (25,), (30,), (47,), (59,), (60,), (26,), (80,), (47,), (29,), (49,), (67,), (77,), (23,), (42,), (57,), (43,), (56,), (57,), (45,), (50,), (39,), (50,), (48,), (45,), (34,), (52,), (28,), (55,), (27,), (76,), (37,), (27,), (64,), (22,), (52,), (40,), (46,), (47,), (23,), (71,), (51,), (63,), (29,), (47,), (50,), (43,), (71,), (41,), (30,), (72,), (68,), (46,), (29,), (31,), (65,), (33,), (43,), (28,), (52,), (51,), (45,), (21,), (63,), (29,), (51,), (33,), (43,), (60,), (70,), (27,), (21,), (61,), (68,), (30,), (24,), (49,), (53,), (50,), (47,), (61,), (33,), (72,), (73,), (34,), (36,), (41,), (37,), (26,), (24,), (43,), (44,), (39,), (70,), (28,), (75,), (64,), (80,), (34,), (80,), (26,), (21,), (41,), (31,), (43,), (45,), (54,), (26,), (41,), (28,), (26,), (49,), (39,), (35,), (25,), (47,), (23,), (60,), (79,), (41,), (48,), (62,), (41,), (36,), (67,), (78,), (49,), (66,), (80,), (34,), (23,), (64,), (23,), (59,), (41,), (63,), (63,), (66,), (32,), (43,), (58,), (65,), (40,), (50,), (36,), (21,), (28,), (67,), (53,), (38,), (60,), (24,), (78,), (39,), (77,), (46,), (57,), (55,), (40,), (62,), (33,), (60,), (71,), (30,), (31,), (54,), (59,), (40,), (70,), (40,), (24,), (39,), (24,), (37,), (80,), (60,), (44,), (69,), (24,), (37,), (23,), (54,), (47,), (29,), (67,), (65,), (33,), (78,), (69,), (35,), (24,), (79,), (31,), (64,), (39,), (71,), (52,), (29,), (76,), (27,), (52,), (35,), (22,), (36,), (67,), (22,), (80,), (25,), (30,), (22,), (47,), (36,), (52,), (63,), (35,), (43,), (80,), (29,), (61,), (30,), (29,), (55,), (36,), (31,), (30,), (33,), (64,), (41,), (45,), (75,), (36,), (38,), (22,), (48,), (39,), (62,), (72,), (42,), (26,), (24,), (57,), (49,), (43,), (53,), (39,), (66,), (53,), (56,), (68,), (53,), (68,), (71,), (27,), (54,), (55,), (49,), (73,), (56,), (46,), (30,), (51,), (56,), (48,), (61,), (28,), (80,), (51,), (40,), (25,), (29,), (60,), (32,), (75,), (55,), (71,), (31,), (47,), (25,), (57,), (50,), (56,), (65,), (39,), (25,), (32,), (38,), (21,), (54,), (33,), (80,), (56,), (59,), (29,), (22,), (23,), (80,), (47,), (80,), (56,), (36,), (39,), (72,), (69,), (39,), (25,), (31,), (65,), (32,), (45,), (40,), (28,), (37,), (60,), (26,), (53,), (30,), (71,), (37,), (32,), (47,), (26,), (33,), (40,), (57,), (39,), (33,), (63,), (37,), (28,), (65,), (62,), (41,), (21,), (39,), (26,), (59,), (60,), (64,), (50,), (80,), (74,), (61,), (79,), (26,), (59,), (39,), (60,), (66,), (38,), (80,), (39,), (36,), (54,), (27,), (80,), (62,), (30,), (48,), (52,), (26,), (41,), (72,), (43,), (80,), (45,), (54,), (28,), (74,), (32,), (40,), (57,), (24,), (31,), (21,), (58,), (22,), (54,), (28,), (67,), (54,), (55,), (54,), (66,), (25,), (47,), (29,), (54,), (54,), (36,), (60,), (80,), (60,), (43,), (46,), (37,), (75,), (58,), (78,), (33,), (30,), (63,), (55,), (22,), (44,), (28,), (73,), (32,), (40,), (43,), (28,), (80,), (80,), (21,), (30,), (38,), (62,), (27,), (47,), (32,), (48,), (48,), (80,), (33,), (80,), (25,), (26,), (31,), (34,), (44,), (40,), (33,), (61,), (50,), (40,), (61,), (24,), (48,), (41,), (49,), (62,), (76,), (62,), (56,), (41,), (61,), (41,), (80,), (23,), (52,), (31,), (71,), (47,), (63,), (29,), (50,), (45,), (50,), (39,), (38,), (44,), (53,), (65,), (59,), (45,), (50,), (75,), (80,), (38,), (43,), (49,), (41,), (38,), (38,), (61,), (57,), (76,), (80,), (36,), (53,), (47,), (39,), (59,), (36,), (36,), (55,), (43,), (22,), (32,), (37,), (67,), (23,), (44,), (38,), (69,), (31,), (44,), (35,), (26,), (40,), (37,), (52,), (23,), (24,), (76,), (32,), (66,), (56,), (41,), (35,), (41,), (80,), (63,), (50,), (45,), (38,), (39,), (79,), (39,), (30,), (35,), (49,), (67,), (39,), (39,), (53,), (21,), (80,), (42,), (27,), (74,), (23,), (62,), (80,), (61,), (30,), (79,), (40,), (27,), (48,), (70,), (66,), (28,), (28,), (56,), (34,), (41,), (80,), (44,), (77,), (40,), (44,), (27,), (74,), (38,), (45,), (52,), (22,), (50,), (25,), (42,), (59,), (29,), (31,), (71,), (29,), (28,), (76,), (64,), (56,), (33,), (61,), (39,), (30,), (48,), (24,), (65,), (49,), (80,), (56,), (65,), (80,), (53,), (53,), (56,), (41,), (32,), (24,), (32,), (58,), (50,), (49,), (29,), (63,), (45,), (46,), (30,), (33,), (31,), (30,), (31,), (24,), (80,), (59,), (48,), (40,), (44,), (66,), (69,), (39,), (42,), (45,), (80,), (28,), (80,), (61,), (32,), (68,), (65,), (50,), (67,), (28,), (55,), (46,), (39,), (43,), (39,), (77,), (49,), (33,), (27,), (48,), (61,), (34,), (41,), (78,), (64,), (49,), (33,), (26,), (40,), (34,), (45,), (68,), (69,), (58,), (80,), (41,), (26,), (24,), (65,), (48,), (55,), (49,), (51,), (22,), (80,), (39,), (49,), (80,), (30,), (48,), (26,), (24,), (56,), (38,), (49,), (28,), (46,), (62,), (34,), (23,), (33,), (56,), (46,), (79,), (40,), (28,), (65,), (30,), (27,), (64,), (57,), (56,), (34,), (49,), (53,), (50,), (63,), (38,), (56,), (74,), (25,), (26,), (39,), (33,), (27,), (34,), (79,), (60,), (33,), (41,), (68,), (67,), (21,), (66,), (74,), (21,), (29,), (80,), (39,), (62,), (63,), (31,), (80,), (43,), (69,), (33,), (39,), (36,), (29,), (40,), (33,), (45,), (30,), (55,), (48,), (57,), (32,), (52,), (72,), (38,), (30,), (65,), (56,), (21,), (54,), (77,), (21,), (46,), (44,), (57,), (41,), (34,), (58,), (61,), (31,), (26,), (24,), (56,), (29,), (28,), (53,), (43,), (45,), (56,), (80,), (41,), (70,), (52,), (37,), (47,), (67,), (49,), (78,), (41,), (54,), (22,), (52,), (23,), (28,), (54,), (27,), (57,), (44,), (72,), (28,), (30,), (26,), (53,), (54,), (41,), (31,), (44,), (42,), (54,), (50,), (54,), (22,), (59,), (51,), (72,), (51,), (33,), (30,), (27,), (58,), (29,), (63,), (36,), (74,), (36,), (67,), (31,), (43,), (80,), (26,), (30,), (45,), (80,), (80,), (61,), (48,), (54,), (35,), (42,), (32,), (62,), (31,), (56,), (53,), (30,), (44,), (41,), (76,), (48,), (70,), (29,), (57,), (39,), (31,), (73,), (57,), (31,), (77,), (32,), (25,), (48,), (76,), (77,), (53,), (43,), (80,), (48,), (22,), (41,), (79,), (21,), (54,), (49,), (36,), (22,), (42,), (56,), (74,), (52,), (23,), (67,), (23,), (80,), (30,), (21,), (43,), (50,), (53,), (80,), (32,), (50,), (50,), (21,), (30,), (31,), (60,), (32,), (60,), (48,), (67,), (37,), (58,), (68,), (40,), (40,), (62,), (45,), (32,), (65,), (45,), (50,), (58,), (61,), (29,), (79,), (46,), (40,), (41,), (22,), (21,), (23,), (27,), (32,), (40,), (36,), (43,), (47,), (78,), (73,), (69,), (72,), (40,), (50,), (80,), (74,), (39,), (63,), (54,), (68,), (41,), (71,), (22,), (53,), (48,), (37,), (38,), (34,), (35,), (32,), (60,), (30,), (56,), (47,), (54,), (80,), (68,), (72,), (32,), (79,), (53,), (49,), (25,), (25,), (64,), (47,), (25,), (29,), (37,), (42,), (61,), (47,), (37,), (54,), (21,), (27,), (29,), (21,), (51,), (62,), (80,), (59,), (46,), (76,), (25,), (38,), (49,), (36,), (30,), (57,), (80,), (44,), (65,), (35,), (51,), (80,), (45,), (52,), (46,), (55,), (68,), (80,), (54,), (33,), (34,), (38,), (41,), (49,), (40,), (48,), (77,), (70,), (38,), (45,), (40,), (48,), (48,), (56,), (80,), (37,), (40,), (39,), (23,), (34,), (74,), (59,), (67,), (50,), (54,), (46,), (53,), (77,), (33,), (33,), (63,), (48,), (45,), (56,), (48,), (49,), (52,), (29,), (74,), (69,), (80,), (60,), (52,), (74,), (65,), (30,), (78,), (47,), (65,), (54,), (21,), (25,), (46,), (45,), (68,), (60,), (78,), (47,), (34,), (43,), (80,), (77,), (34,), (23,), (75,), (49,), (23,), (38,), (55,), (60,), (40,), (42,), (73,), (35,), (64,), (44,), (59,), (32,), (23,), (69,), (69,), (23,), (38,), (28,), (41,), (69,), (71,), (38,), (32,), (80,), (45,), (51,), (59,), (60,), (46,), (80,), (62,), (37,), (22,), (63,), (70,), (48,), (44,), (37,), (40,), (28,), (45,), (39,), (68,), (55,), (80,), (31,), (64,), (70,), (59,), (60,), (36,), (66,), (23,), (57,), (54,), (56,), (57,), (65,), (59,), (34,), (74,), (48,), (49,), (42,), (74,), (41,), (28,), (44,), (45,), (38,), (70,), (44,), (54,), (74,), (58,), (80,), (51,), (54,), (80,), (73,), (67,), (31,), (35,), (39,), (38,), (50,), (58,), (40,), (68,), (76,), (70,), (61,), (42,), (34,), (33,), (39,), (24,), (47,), (72,), (26,), (80,), (46,), (21,), (54,), (43,), (35,), (58,), (80,), (51,), (64,), (61,), (35,), (75,), (33,), (43,), (74,), (22,), (57,), (80,), (78,), (45,), (65,), (80,), (54,), (69,), (58,), (41,), (73,), (31,), (32,), (71,), (39,), (67,), (70,), (55,), (21,), (78,), (71,), (36,), (47,), (28,), (35,), (48,), (26,), (25,), (51,), (30,), (30,), (72,), (22,), (70,), (30,), (21,), (72,), (74,), (65,), (33,), (44,), (52,), (64,), (46,), (76,), (60,), (35,), (63,), (32,), (48,), (25,), (40,), (22,), (80,), (40,), (57,), (53,), (64,), (60,), (65,), (31,), (44,), (76,), (54,), (63,), (48,), (40,), (30,), (43,), (26,), (46,), (54,), (22,), (32,), (25,), (79,), (36,), (36,), (30,), (34,), (32,), (37,), (35,), (74,), (76,), (42,), (49,), (58,), (28,), (23,), (66,), (45,), (27,), (23,), (55,), (33,), (72,), (35,), (74,), (80,), (21,), (31,), (42,), (52,), (54,), (30,), (70,), (71,), (24,), (71,), (54,), (49,), (67,), (80,), (28,), (63,), (39,), (44,), (65,), (59,), (43,), (80,), (65,), (41,), (41,), (24,), (37,), (28,), (60,), (80,), (60,), (28,), (50,), (54,), (32,), (67,), (43,), (70,), (80,), (21,), (36,), (45,), (44,), (77,), (62,), (57,), (52,), (28,), (28,), (29,), (36,), (67,), (58,), (62,), (23,), (29,), (54,), (35,), (73,), (35,), (75,), (45,), (49,), (48,), (47,), (37,), (71,), (66,), (28,), (63,), (47,), (22,), (64,), (26,), (73,), (54,), (44,), (42,), (72,), (55,), (44,), (24,), (68,), (42,), (80,), (34,), (41,), (65,), (72,), (46,), (41,), (56,), (50,), (71,), (37,), (51,), (29,), (67,), (78,), (62,), (58,), (61,), (48,), (66,), (37,), (72,), (21,), (26,), (66,), (57,), (42,), (74,), (47,), (29,), (63,), (38,), (73,), (49,), (63,), (65,), (65,), (60,), (34,), (64,), (21,), (59,), (38,), (28,), (80,), (70,), (57,), (63,), (50,), (80,), (24,), (77,), (53,), (28,), (39,), (45,), (75,), (39,), (62,), (48,), (24,), (44,), (35,), (80,), (47,), (51,), (73,), (25,), (50,), (38,), (52,), (40,), (36,), (52,), (35,), (45,), (24,), (53,), (67,), (25,), (53,), (38,), (80,), (40,), (21,), (69,), (60,), (31,), (45,), (31,), (67,), (39,), (22,), (45,), (24,), (33,), (35,), (22,), (65,), (39,), (30,), (61,), (26,), (74,), (65,), (49,), (67,), (36,), (23,), (33,), (60,), (21,), (80,), (50,), (28,), (60,), (28,), (57,), (34,), (32,), (68,), (51,), (62,), (25,), (30,), (24,), (25,), (64,), (21,), (50,), (29,), (70,), (49,), (29,), (62,), (29,), (22,), (55,), (70,), (71,), (46,), (30,), (65,), (63,), (60,), (30,), (40,), (50,), (40,), (47,), (21,), (23,), (75,), (26,), (40,), (31,), (61,), (21,), (64,), (80,), (45,), (30,), (24,), (34,), (41,), (48,), (31,), (36,), (54,), (63,), (53,), (65,), (38,), (32,), (72,), (39,), (58,), (52,), (25,), (29,), (42,), (80,), (38,), (61,), (46,), (34,), (33,), (25,), (60,), (48,), (58,), (80,), (69,), (25,), (23,), (66,), (37,), (64,), (49,), (46,), (36,), (32,), (79,), (39,), (64,), (21,), (42,), (49,), (48,), (51,), (30,), (69,), (31,), (64,), (67,), (37,), (60,), (75,), (22,), (55,), (21,), (25,), (47,), (41,), (34,), (41,), (44,), (47,), (36,), (71,), (38,), (70,), (65,), (62,), (27,), (51,), (41,), (42,), (53,), (53,), (51,), (38,), (23,), (61,), (32,), (22,), (30,), (63,), (43,), (35,), (48,), (38,), (55,), (50,), (29,), (60,), (80,), (41,), (51,), (80,), (71,), (44,), (22,), (34,), (67,), (40,), (48,), (35,), (22,), (47,), (56,), (60,), (37,), (38,), (49,), (55,), (37,), (49,), (21,), (26,), (31,), (32,), (57,), (39,), (28,), (35,), (80,), (61,), (30,), (42,), (57,), (25,), (40,), (32,), (38,), (48,), (73,), (57,), (22,), (30,), (80,), (72,), (27,), (44,), (26,), (38,), (33,), (52,), (52,), (46,), (64,), (76,), (80,), (52,), (48,), (59,), (37,), (63,), (80,), (41,), (37,), (39,), (45,), (26,), (43,), (36,), (23,), (77,), (36,), (48,), (29,), (46,), (42,), (80,), (43,), (34,), (63,), (76,), (55,), (31,), (34,), (64,), (53,), (26,), (52,), (66,), (51,), (39,), (46,), (43,), (25,), (35,), (30,), (80,), (39,), (21,), (38,), (73,), (48,), (60,), (42,), (40,), (49,), (21,), (40,), (80,), (80,), (56,), (26,), (41,), (40,), (23,), (44,), (38,), (25,), (56,), (25,), (50,), (42,), (80,), (25,), (59,), (57,), (33,), (26,), (36,), (80,), (55,), (25,), (22,), (31,), (51,), (30,), (24,), (37,), (26,), (40,), (24,), (66,), (35,), (42,), (44,), (46,), (39,), (23,), (59,), (57,), (46,), (77,), (75,), (72,), (80,), (32,), (40,), (45,), (23,), (28,), (41,), (39,), (36,), (68,), (38,), (80,), (66,), (44,), (25,), (22,), (59,), (56,), (36,), (43,), (78,), (80,), (66,), (54,), (80,), (46,), (38,), (26,), (51,), (28,), (26,), (60,), (56,), (39,), (62,), (74,), (27,), (27,), (21,), (70,), (49,), (31,), (60,), (74,), (38,), (59,), (43,), (70,), (56,), (27,), (66,), (34,), (37,), (55,), (43,), (74,), (66,), (48,), (43,), (80,), (34,), (80,), (35,), (57,), (28,), (35,), (38,), (62,), (31,), (32,), (54,), (50,), (31,), (48,), (42,), (63,), (58,), (24,), (80,), (47,), (61,), (55,), (80,), (64,), (56,), (69,), (43,), (23,), (51,), (78,), (64,), (69,), (33,), (55,), (44,), (38,), (38,), (71,), (23,), (43,), (36,), (44,), (80,), (80,), (21,), (68,), (23,), (69,), (70,), (53,), (65,), (27,), (26,), (80,), (80,), (72,), (30,), (38,), (39,), (75,), (22,), (23,), (64,), (41,), (65,), (76,), (40,), (36,), (43,), (39,), (32,), (65,), (61,), (44,), (30,), (46,), (80,), (80,), (59,), (33,), (23,), (51,), (46,), (42,), (64,), (53,), (37,), (41,), (35,), (72,), (32,), (24,), (71,), (22,), (70,), (21,), (72,), (28,), (80,), (73,), (38,), (37,), (80,), (41,), (78,), (68,), (37,), (29,), (68,), (61,), (76,), (55,), (35,), (64,), (33,), (29,), (36,), (80,), (44,), (80,), (39,), (75,), (42,), (58,), (57,), (80,), (39,), (74,), (71,), (48,), (54,), (29,), (51,), (46,), (28,), (32,), (31,), (35,), (26,), (72,), (45,), (50,), (34,), (69,), (53,), (67,), (51,), (71,), (41,), (59,), (33,), (40,), (21,), (60,), (52,), (27,), (47,), (80,), (57,), (46,), (74,), (64,), (57,), (80,), (33,), (24,), (45,), (48,), (31,), (22,), (31,), (63,), (60,), (32,), (79,), (44,), (36,), (53,), (30,), (68,), (66,), (79,), (24,), (34,), (60,), (60,), (40,), (53,), (80,), (78,), (65,), (65,), (49,), (25,), (21,), (45,), (41,), (35,), (53,), (21,), (29,), (53,), (38,), (34,), (59,), (71,), (74,), (43,), (80,), (70,), (50,), (41,), (46,), (44,), (28,), (34,), (80,), (24,), (66,), (25,), (54,), (41,), (43,), (62,), (36,), (70,), (48,), (61,), (58,), (48,), (33,), (80,), (60,), (53,), (30,), (39,), (27,), (80,), (59,), (67,), (38,), (46,), (62,), (35,), (39,), (59,), (31,), (48,), (32,), (35,), (80,), (59,), (40,), (67,), (42,), (76,), (72,), (36,), (79,), (80,), (58,), (80,), (55,), (50,), (28,), (32,), (28,), (53,), (74,), (32,), (27,), (51,), (75,), (31,), (45,), (26,), (48,), (30,), (64,), (23,), (67,), (57,), (47,), (80,), (53,), (70,), (80,), (80,), (78,), (49,), (69,), (61,), (27,), (40,), (51,), (58,), (80,), (23,), (21,), (38,), (28,), (48,), (21,), (61,), (24,), (80,), (41,), (62,), (48,), (69,), (32,), (56,), (58,), (54,), (56,), (80,), (54,), (22,), (80,), (32,), (39,), (57,), (56,), (54,), (50,), (40,), (28,), (46,), (57,), (30,), (80,), (21,), (77,), (74,), (22,), (66,), (80,), (30,), (26,), (29,), (61,), (80,), (32,), (48,), (79,), (47,), (25,), (76,), (28,), (30,), (80,), (58,), (56,), (31,), (43,), (22,), (54,), (66,), (21,), (42,), (40,), (55,), (75,), (37,), (52,), (48,), (21,), (22,), (33,), (51,), (43,), (36,), (50,), (56,), (21,), (23,), (54,), (43,), (40,), (40,), (27,), (59,), (36,), (47,), (40,), (31,), (64,), (64,), (46,), (70,), (58,), (34,), (49,), (50,), (50,), (63,), (69,), (45,), (77,), (25,), (64,), (75,), (68,), (42,), (55,), (62,), (49,), (29,), (37,), (35,), (42,), (29,), (29,), (50,), (31,), (33,), (34,), (53,), (22,), (69,), (31,), (44,), (79,), (80,), 

In [37]:
#how does this look as a numpy array
import numpy as np
age_array = np.array(age_list)
print(age_array)

[[34]
 [49]
 [45]
 ...
 [28]
 [27]
 [60]]

In [38]:
#average age of surveyed people
age_array.mean()

48.00131521262604

In [39]:
#lets count the people between 25 and 30 using a loop

In [18]:
#There are 6 different Marital Status, what are these?
mstat_unique_values = (nhanes_data3['MaritalStatus']).unique()
print(mstat_unique_values)

['Married' 'Invalid answer' 'LivePartner' 'Divorced' 'NeverMarried'
 'Separated' 'Widowed']

In [19]:
#Depressed unique answers
depressed_unique_values = (nhanes_data3['Depressed']).unique()
print(depressed_unique_values)

['Several' 'Invalid answer' 'None' 'Most']

In [20]:
education_unique_values = (nhanes_data3['Education']).unique()
print(education_unique_values)

['High School' 'Invalid answer' 'Some College' 'College Grad'
 '9 - 11th Grade' '8th Grade']

In [21]:
work_unique_values = (nhanes_data3['Work']).unique()
print(work_unique_values)

['NotWorking' 'Invalid answer' 'Working' 'Looking']

In [22]:
#create subset of adults 21 and over
adult_nhanes = nhanes_data3[nhanes_data3['Age']>=21]
print(adult_nhanes)

      SurveyYr  Gender  Age       AgeDecade       AgeMonths    Race1  \
ID
51624  2009_10    male   34           30-39           409.0    White
51630  2009_10  female   49           40-49           596.0    White
51647  2009_10  female   45           40-49           541.0    White
51654  2009_10    male   66           60-69           795.0    White
51656  2009_10    male   58           50-59           707.0    White
...        ...     ...  ...             ...             ...      ...
71907  2011_12    male   80  Invalid answer  Invalid answer    White
71908  2011_12  female   66           60-69  Invalid answer    White
71909  2011_12    male   28           20-29  Invalid answer  Mexican
71911  2011_12    male   27           20-29  Invalid answer  Mexican
71915  2011_12    male   60           60-69  Invalid answer    White

                Race3       Education MaritalStatus     HHIncome HHIncomeMid  \
ID
51624  Invalid answer     High School       Married  25000-34999     30000.0
51630  Invalid answer    Some College   LivePartner  35000-44999     40000.0
51647  Invalid answer    College Grad       Married  75000-99999     87500.0
51654  Invalid answer    Some College       Married  25000-34999     30000.0
51656  Invalid answer    College Grad      Divorced   more 99999    100000.0
...               ...             ...           ...          ...         ...
71907           White     High School       Married  55000-64999     60000.0
71908           White    College Grad       Widowed  65000-74999     70000.0
71909         Mexican  9 - 11th Grade  NeverMarried    5000-9999      7500.0
71911         Mexican    College Grad       Married  75000-99999     87500.0
71915           White    College Grad  NeverMarried  65000-74999     70000.0

      Poverty HomeRooms HomeOwn        Work Weight          Length  \
ID
51624    1.36       6.0     Own  NotWorking   87.4  Invalid answer
51630    1.91       5.0    Rent  NotWorking   86.7  Invalid answer
51647     5.0       6.0     Own     Working   75.7  Invalid answer
51654     2.2       5.0     Own  NotWorking   68.0  Invalid answer
51656     5.0      10.0    Rent     Working   78.4  Invalid answer
...       ...       ...     ...         ...    ...             ...
71907    4.08       6.0     Own  NotWorking   71.5  Invalid answer
71908    4.55       8.0     Own     Working   88.7  Invalid answer
71909    0.46       3.0    Rent     Working   92.3  Invalid answer
71911    3.25      10.0     Own     Working   96.7  Invalid answer
71915     5.0       4.0     Own     Working   78.4  Invalid answer

             HeadCirc Height    BMI BMICatUnder20yrs       BMI_WHO Pulse  \
ID
51624  Invalid answer  164.7  32.22   Invalid answer     30.0_plus  70.0
51630  Invalid answer  168.4  30.57   Invalid answer     30.0_plus  86.0
51647  Invalid answer  166.7  27.24   Invalid answer  25.0_to_29.9  62.0
51654  Invalid answer  169.5  23.67   Invalid answer  18.5_to_24.9  60.0
51656  Invalid answer  181.9  23.69   Invalid answer  18.5_to_24.9  62.0
...               ...    ...    ...              ...           ...   ...
71907  Invalid answer  175.4   23.2   Invalid answer  18.5_to_24.9  54.0
71908  Invalid answer  159.0   35.1   Invalid answer     30.0_plus  76.0
71909  Invalid answer  177.3   29.4   Invalid answer  25.0_to_29.9  68.0
71911  Invalid answer  175.8   31.3   Invalid answer     30.0_plus  74.0
71915  Invalid answer  168.8   27.5   Invalid answer  25.0_to_29.9  76.0

      BPSysAve BPDiaAve BPSys1 BPDia1 BPSys2 BPDia2 BPSys3 BPDia3  \
ID
51624    113.0     85.0  114.0   88.0  114.0   88.0  112.0   82.0
51630    112.0     75.0  118.0   82.0  108.0   74.0  116.0   76.0
51647    118.0     64.0  106.0   62.0  118.0   68.0  118.0   60.0
51654    111.0     63.0  124.0   64.0  108.0   62.0  114.0   64.0
51656    104.0     74.0  108.0   76.0  104.0   72.0  104.0   76.0
...        ...      ...    ...    ...    ...    ...    ...    ...
71907    148.0     70.0  150.0   72.0  150.0   70.0  146.0   70.0
71908    114.0     70.0  110.0   74.0  114.0   68.0  114.0   72.0
71909    124.0     65.0  124.0   62.0  126.0   64.0  122.0   66.0
71911    133.0     74.0  122.0   76.0  132.0   82.0  134.0   66.0
71915    147.0     73.0  150.0   72.0  148.0   74.0  146.0   72.0

         Testosterone DirectChol TotChol UrineVol1      UrineFlow1  \
ID
51624  Invalid answer       1.29    3.49     352.0  Invalid answer
51630  Invalid answer       1.16     6.7      77.0           0.094
51647  Invalid answer       2.12    5.82     106.0           1.116
51654  Invalid answer       0.67    4.99     113.0           0.489
51656  Invalid answer       0.96    4.24     163.0  Invalid answer
...               ...        ...     ...       ...             ...
71907           402.9       1.27    4.37      61.0           1.052
71908            26.0       1.86    6.47      29.0           0.659
71909          490.43       1.22     3.9      97.0           0.942
71911           509.0       1.06    5.72      63.0             0.6
71915          505.13       0.93    4.94     218.0           1.253

            UrineVol2      UrineFlow2 Diabetes     DiabetesAge  \
ID
51624  Invalid answer  Invalid answer       No  Invalid answer
51630  Invalid answer  Invalid answer       No  Invalid answer
51647  Invalid answer  Invalid answer       No  Invalid answer
51654  Invalid answer  Invalid answer       No  Invalid answer
51656  Invalid answer  Invalid answer       No  Invalid answer
...               ...             ...      ...             ...
71907  Invalid answer  Invalid answer       No  Invalid answer
71908            94.0           0.627       No  Invalid answer
71909  Invalid answer  Invalid answer       No  Invalid answer
71911  Invalid answer  Invalid answer       No  Invalid answer
71915  Invalid answer  Invalid answer      Yes            56.0

            HealthGen DaysPhysHlthBad DaysMentHlthBad  LittleInterest  \
ID
51624            Good             0.0            15.0            Most
51630            Good             0.0            10.0         Several
51647           Vgood             0.0             3.0            None
51654           Vgood            10.0             0.0            None
51656           Vgood             0.0             0.0            None
...               ...             ...             ...             ...
71907            Good             0.0             0.0            None
71908       Excellent             0.0             0.0            None
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911            Good             0.0             2.0            None
71915            Good             0.0             2.0            None

            Depressed    nPregnancies         nBabies      Age1stBaby  \
ID
51624         Several  Invalid answer  Invalid answer  Invalid answer
51630         Several             2.0             2.0            27.0
51647            None             1.0  Invalid answer  Invalid answer
51654            None  Invalid answer  Invalid answer  Invalid answer
51656            None  Invalid answer  Invalid answer  Invalid answer
...               ...             ...             ...             ...
71907            None  Invalid answer  Invalid answer  Invalid answer
71908            None             2.0             2.0            22.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911            None  Invalid answer  Invalid answer  Invalid answer
71915            None  Invalid answer  Invalid answer  Invalid answer

      SleepHrsNight SleepTrouble PhysActive        TVHrsDay      CompHrsDay  \
ID
51624           4.0          Yes         No  Invalid answer  Invalid answer
51630           8.0          Yes         No  Invalid answer  Invalid answer
51647           8.0           No        Yes  Invalid answer  Invalid answer
51654           7.0           No        Yes  Invalid answer  Invalid answer
51656           5.0           No        Yes  Invalid answer  Invalid answer
...             ...          ...        ...             ...             ...
71907           5.0           No        Yes            3_hr           0_hrs
71908           6.0           No         No            2_hr       0_to_1_hr
71909           6.0           No        Yes            1_hr            2_hr
71911           6.0           No         No            1_hr       0_to_1_hr
71915           6.0           No         No            2_hr            1_hr

        TVHrsDayChild CompHrsDayChild Alcohol12PlusYr      AlcoholDay  \
ID
51624  Invalid answer  Invalid answer             Yes  Invalid answer
51630  Invalid answer  Invalid answer             Yes             2.0
51647  Invalid answer  Invalid answer             Yes             3.0
51654  Invalid answer  Invalid answer             Yes             1.0
51656  Invalid answer  Invalid answer             Yes             2.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer             Yes  Invalid answer
71908  Invalid answer  Invalid answer              No             1.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911  Invalid answer  Invalid answer             Yes             5.0
71915  Invalid answer  Invalid answer             Yes  Invalid answer

          AlcoholYear        SmokeNow Smoke100   Smoke100n        SmokeAge  \
ID
51624             0.0              No      Yes      Smoker            18.0
51630            20.0             Yes      Yes      Smoker            38.0
51647            52.0  Invalid answer       No  Non-Smoker  Invalid answer
51654           100.0              No      Yes      Smoker            13.0
51656           104.0  Invalid answer       No  Non-Smoker  Invalid answer
...               ...             ...      ...         ...             ...
71907             0.0  Invalid answer       No  Non-Smoker  Invalid answer
71908             5.0  Invalid answer       No  Non-Smoker  Invalid answer
71909  Invalid answer             Yes      Yes      Smoker            18.0
71911             4.0  Invalid answer       No  Non-Smoker  Invalid answer
71915             0.0  Invalid answer       No  Non-Smoker  Invalid answer

            Marijuana   AgeFirstMarij    RegularMarij     AgeRegMarij  \
ID
51624             Yes            17.0              No  Invalid answer
51630             Yes            18.0              No  Invalid answer
51647             Yes            13.0              No  Invalid answer
51654  Invalid answer  Invalid answer  Invalid answer  Invalid answer
51656             Yes            19.0             Yes            20.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911             Yes            22.0              No  Invalid answer
71915  Invalid answer  Invalid answer  Invalid answer  Invalid answer

            HardDrugs         SexEver          SexAge SexNumPartnLife  \
ID
51624             Yes             Yes            16.0             8.0
51630             Yes             Yes            12.0            10.0
51647              No             Yes            13.0            20.0
51654              No             Yes            17.0            15.0
51656             Yes             Yes            22.0             7.0
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908              No             Yes            18.0             1.0
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911              No             Yes            21.0             1.0
71915              No             Yes            19.0             2.0

       SexNumPartYear         SameSex  SexOrientation     PregnantNow
ID
51624             1.0              No    Heterosexual  Invalid answer
51630             1.0             Yes    Heterosexual  Invalid answer
51647             0.0             Yes        Bisexual  Invalid answer
51654  Invalid answer              No  Invalid answer  Invalid answer
51656             1.0              No    Heterosexual  Invalid answer
...               ...             ...             ...             ...
71907  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71908  Invalid answer              No  Invalid answer  Invalid answer
71909  Invalid answer  Invalid answer  Invalid answer  Invalid answer
71911             1.0              No    Heterosexual  Invalid answer
71915  Invalid answer              No  Invalid answer  Invalid answer

[4562 rows x 74 columns]

In [23]:
#4470 adults in subset
adult_nhanes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SurveyYr          4562 non-null   object
 1   Gender            4562 non-null   object
 2   Age               4562 non-null   int64
 3   AgeDecade         4562 non-null   object
 4   AgeMonths         4562 non-null   object
 5   Race1             4562 non-null   object
 6   Race3             4562 non-null   object
 7   Education         4562 non-null   object
 8   MaritalStatus     4562 non-null   object
 9   HHIncome          4562 non-null   object
 10  HHIncomeMid       4562 non-null   object
 11  Poverty           4562 non-null   object
 12  HomeRooms         4562 non-null   object
 13  HomeOwn           4562 non-null   object
 14  Work              4562 non-null   object
 15  Weight            4562 non-null   object
 16  Length            4562 non-null   object
 17  HeadCirc          4562 non-null   object
 18  Height            4562 non-null   object
 19  BMI               4562 non-null   object
 20  BMICatUnder20yrs  4562 non-null   object
 21  BMI_WHO           4562 non-null   object
 22  Pulse             4562 non-null   object
 23  BPSysAve          4562 non-null   object
 24  BPDiaAve          4562 non-null   object
 25  BPSys1            4562 non-null   object
 26  BPDia1            4562 non-null   object
 27  BPSys2            4562 non-null   object
 28  BPDia2            4562 non-null   object
 29  BPSys3            4562 non-null   object
 30  BPDia3            4562 non-null   object
 31  Testosterone      4562 non-null   object
 32  DirectChol        4562 non-null   object
 33  TotChol           4562 non-null   object
 34  UrineVol1         4562 non-null   object
 35  UrineFlow1        4562 non-null   object
 36  UrineVol2         4562 non-null   object
 37  UrineFlow2        4562 non-null   object
 38  Diabetes          4562 non-null   object
 39  DiabetesAge       4562 non-null   object
 40  HealthGen         4562 non-null   object
 41  DaysPhysHlthBad   4562 non-null   object
 42  DaysMentHlthBad   4562 non-null   object
 43  LittleInterest    4562 non-null   object
 44  Depressed         4562 non-null   object
 45  nPregnancies      4562 non-null   object
 46  nBabies           4562 non-null   object
 47  Age1stBaby        4562 non-null   object
 48  SleepHrsNight     4562 non-null   object
 49  SleepTrouble      4562 non-null   object
 50  PhysActive        4562 non-null   object
 51  TVHrsDay          4562 non-null   object
 52  CompHrsDay        4562 non-null   object
 53  TVHrsDayChild     4562 non-null   object
 54  CompHrsDayChild   4562 non-null   object
 55  Alcohol12PlusYr   4562 non-null   object
 56  AlcoholDay        4562 non-null   object
 57  AlcoholYear       4562 non-null   object
 58  SmokeNow          4562 non-null   object
 59  Smoke100          4562 non-null   object
 60  Smoke100n         4562 non-null   object
 61  SmokeAge          4562 non-null   object
 62  Marijuana         4562 non-null   object
 63  AgeFirstMarij     4562 non-null   object
 64  RegularMarij      4562 non-null   object
 65  AgeRegMarij       4562 non-null   object
 66  HardDrugs         4562 non-null   object
 67  SexEver           4562 non-null   object
 68  SexAge            4562 non-null   object
 69  SexNumPartnLife   4562 non-null   object
 70  SexNumPartYear    4562 non-null   object
 71  SameSex           4562 non-null   object
 72  SexOrientation    4562 non-null   object
 73  PregnantNow       4562 non-null   object
dtypes: int64(1), object(73)
memory usage: 2.6+ MB

In [24]:
#create a subset with the columns to focus on 
nhanes_analysis1 = adult_nhanes[["SurveyYr", "Age", "Education", "MaritalStatus", "HomeOwn", "Work", "HHIncome", "BMI", "DaysMentHlthBad", "Depressed", "TVHrsDay"]]
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

[4562 rows x 11 columns]

In [25]:
print(nhanes_analysis1['SurveyYr'].dtype)

object

In [26]:
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

[4562 rows x 11 columns]

In [27]:
#removing python warning with regard to sliced DataFrame
nhanes_analysis1.is_copy = False

In [28]:
#removing python warning with regard to sliced DataFrame
pd.set_option('mode.chained_assignment', None)

In [29]:
#to find year of birth we need the year of the survey, new column added
nhanes_analysis1['YearSurvey'] = nhanes_analysis1['SurveyYr'].str[:4]
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay  \
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

      YearSurvey
ID
51624       2009
51630       2009
51647       2009
51654       2009
51656       2009
...          ...
71907       2011
71908       2011
71909       2011
71911       2011
71915       2011

[4562 rows x 12 columns]

In [30]:
nhanes_analysis1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SurveyYr         4562 non-null   object
 1   Age              4562 non-null   int64
 2   Education        4562 non-null   object
 3   MaritalStatus    4562 non-null   object
 4   HomeOwn          4562 non-null   object
 5   Work             4562 non-null   object
 6   HHIncome         4562 non-null   object
 7   BMI              4562 non-null   object
 8   DaysMentHlthBad  4562 non-null   object
 9   Depressed        4562 non-null   object
 10  TVHrsDay         4562 non-null   object
 11  YearSurvey       4562 non-null   object
dtypes: int64(1), object(11)
memory usage: 463.3+ KB

In [31]:
#YearSurvey must be converted to int in order to calculate Year of Birth
nhanes_analysis1['YearSurvey'] = nhanes_analysis1['YearSurvey'].astype(int)

In [32]:
nhanes_analysis1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4562 entries, 51624 to 71915
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SurveyYr         4562 non-null   object
 1   Age              4562 non-null   int64
 2   Education        4562 non-null   object
 3   MaritalStatus    4562 non-null   object
 4   HomeOwn          4562 non-null   object
 5   Work             4562 non-null   object
 6   HHIncome         4562 non-null   object
 7   BMI              4562 non-null   object
 8   DaysMentHlthBad  4562 non-null   object
 9   Depressed        4562 non-null   object
 10  TVHrsDay         4562 non-null   object
 11  YearSurvey       4562 non-null   int32
dtypes: int32(1), int64(1), object(10)
memory usage: 445.5+ KB

In [33]:
#Year of birth calculation, new column added
nhanes_analysis1['YearOfBirth'] = nhanes_analysis1['YearSurvey'] - nhanes_analysis1['Age']
print(nhanes_analysis1)

      SurveyYr  Age       Education MaritalStatus HomeOwn        Work  \
ID
51624  2009_10   34     High School       Married     Own  NotWorking
51630  2009_10   49    Some College   LivePartner    Rent  NotWorking
51647  2009_10   45    College Grad       Married     Own     Working
51654  2009_10   66    Some College       Married     Own  NotWorking
51656  2009_10   58    College Grad      Divorced    Rent     Working
...        ...  ...             ...           ...     ...         ...
71907  2011_12   80     High School       Married     Own  NotWorking
71908  2011_12   66    College Grad       Widowed     Own     Working
71909  2011_12   28  9 - 11th Grade  NeverMarried    Rent     Working
71911  2011_12   27    College Grad       Married     Own     Working
71915  2011_12   60    College Grad  NeverMarried     Own     Working

          HHIncome    BMI DaysMentHlthBad       Depressed        TVHrsDay  \
ID
51624  25000-34999  32.22            15.0         Several  Invalid answer
51630  35000-44999  30.57            10.0         Several  Invalid answer
51647  75000-99999  27.24             3.0            None  Invalid answer
51654  25000-34999  23.67             0.0            None  Invalid answer
51656   more 99999  23.69             0.0            None  Invalid answer
...            ...    ...             ...             ...             ...
71907  55000-64999   23.2             0.0            None            3_hr
71908  65000-74999   35.1             0.0            None            2_hr
71909    5000-9999   29.4  Invalid answer  Invalid answer            1_hr
71911  75000-99999   31.3             2.0            None            1_hr
71915  65000-74999   27.5             2.0            None            2_hr

       YearSurvey  YearOfBirth
ID
51624        2009         1975
51630        2009         1960
51647        2009         1964
51654        2009         1943
51656        2009         1951
...           ...          ...
71907        2011         1931
71908        2011         1945
71909        2011         1983
71911        2011         1984
71915        2011         1951

[4562 rows x 13 columns]

In [34]:
#Now we have our DataFrame for analysis , we can explore making columns into a list
zip(nhanes_analysis1.Age)

In [35]:
type(zip(nhanes_analysis1.Age))

zip

In [36]:
age_list = list(zip(nhanes_analysis1.Age))
print(age_list)

[(34,), (49,), (45,), (66,), (58,), (54,), (58,), (50,), (33,), (60,), (56,), (57,), (54,), (38,), (36,), (44,), (64,), (26,), (59,), (49,), (51,), (28,), (37,), (28,), (32,), (25,), (21,), (44,), (56,), (78,), (58,), (27,), (31,), (29,), (56,), (30,), (26,), (30,), (54,), (29,), (80,), (50,), (26,), (58,), (80,), (35,), (80,), (66,), (34,), (38,), (50,), (43,), (41,), (46,), (61,), (44,), (80,), (76,), (29,), (63,), (63,), (50,), (70,), (31,), (30,), (52,), (46,), (22,), (48,), (27,), (55,), (62,), (54,), (39,), (42,), (46,), (56,), (46,), (29,), (31,), (36,), (49,), (60,), (28,), (32,), (46,), (55,), (57,), (79,), (46,), (22,), (60,), (35,), (29,), (74,), (44,), (36,), (31,), (32,), (32,), (65,), (55,), (77,), (62,), (26,), (39,), (68,), (47,), (80,), (72,), (40,), (30,), (65,), (61,), (79,), (52,), (61,), (56,), (74,), (50,), (48,), (43,), (67,), (25,), (67,), (38,), (61,), (74,), (29,), (42,), (60,), (31,), (70,), (56,), (53,), (45,), (73,), (73,), (40,), (33,), (44,), (73,), (55,), (39,), (65,), (48,), (38,), (48,), (65,), (39,), (21,), (63,), (54,), (56,), (21,), (76,), (43,), (45,), (60,), (43,), (43,), (80,), (25,), (25,), (54,), (29,), (46,), (33,), (50,), (54,), (39,), (80,), (32,), (56,), (29,), (69,), (25,), (52,), (28,), (40,), (51,), (72,), (65,), (80,), (24,), (57,), (45,), (28,), (22,), (49,), (34,), (69,), (33,), (31,), (62,), (61,), (75,), (47,), (35,), (78,), (54,), (56,), (30,), (73,), (21,), (33,), (45,), (41,), (80,), (71,), (44,), (65,), (24,), (63,), (22,), (80,), (64,), (58,), (46,), (31,), (42,), (78,), (60,), (38,), (54,), (77,), (50,), (52,), (54,), (43,), (52,), (37,), (59,), (59,), (58,), (24,), (68,), (29,), (39,), (30,), (35,), (25,), (32,), (49,), (78,), (64,), (39,), (36,), (64,), (72,), (63,), (24,), (75,), (60,), (50,), (25,), (35,), (64,), (67,), (44,), (48,), (76,), (43,), (39,), (80,), (71,), (66,), (25,), (80,), (77,), (44,), (80,), (44,), (31,), (56,), (28,), (67,), (38,), (51,), (30,), (63,), (52,), (73,), (58,), (68,), (35,), (53,), (47,), (28,), (34,), (73,), (26,), (31,), (37,), (36,), (52,), (64,), (80,), (25,), (34,), (61,), (33,), (29,), (76,), (44,), (39,), (23,), (32,), (36,), (67,), (80,), (77,), (31,), (53,), (73,), (50,), (80,), (55,), (68,), (26,), (51,), (44,), (48,), (43,), (22,), (51,), (64,), (27,), (35,), (70,), (72,), (68,), (36,), (28,), (23,), (28,), (44,), (73,), (80,), (36,), (80,), (37,), (38,), (52,), (26,), (53,), (51,), (65,), (44,), (23,), (66,), (46,), (53,), (59,), (69,), (28,), (55,), (22,), (72,), (44,), (25,), (52,), (56,), (73,), (57,), (75,), (66,), (47,), (27,), (42,), (22,), (52,), (39,), (26,), (53,), (30,), (43,), (27,), (55,), (23,), (28,), (51,), (80,), (65,), (34,), (68,), (37,), (47,), (59,), (24,), (53,), (44,), (68,), (80,), (55,), (47,), (39,), (63,), (21,), (57,), (43,), (70,), (29,), (24,), (80,), (45,), (71,), (56,), (21,), (24,), (22,), (52,), (74,), (24,), (51,), (52,), (26,), (32,), (37,), (80,), (23,), (46,), (27,), (74,), (46,), (41,), (39,), (68,), (37,), (68,), (72,), (77,), (25,), (47,), (40,), (43,), (25,), (28,), (54,), (23,), (39,), (70,), (53,), (80,), (42,), (59,), (46,), (75,), (24,), (30,), (55,), (47,), (21,), (50,), (35,), (66,), (28,), (47,), (44,), (77,), (31,), (59,), (32,), (22,), (28,), (27,), (41,), (59,), (33,), (39,), (62,), (44,), (57,), (51,), (42,), (56,), (49,), (43,), (54,), (30,), (40,), (59,), (43,), (80,), (43,), (63,), (45,), (34,), (67,), (24,), (41,), (40,), (53,), (63,), (74,), (31,), (31,), (54,), (80,), (40,), (36,), (51,), (55,), (42,), (37,), (37,), (38,), (22,), (61,), (74,), (30,), (59,), (32,), (38,), (38,), (40,), (35,), (59,), (60,), (73,), (41,), (51,), (79,), (63,), (58,), (52,), (75,), (47,), (44,), (32,), (63,), (26,), (44,), (43,), (56,), (70,), (80,), (38,), (28,), (37,), (56,), (72,), (37,), (22,), (35,), (52,), (80,), (28,), (54,), (29,), (75,), (60,), (30,), (29,), (33,), (48,), (22,), (31,), (24,), (59,), (35,), (41,), (31,), (52,), (50,), (41,), (30,), (29,), (29,), (45,), (61,), (40,), (24,), (60,), (79,), (80,), (46,), (50,), (62,), (39,), (40,), (43,), (40,), (52,), (44,), (38,), (25,), (49,), (62,), (27,), (80,), (28,), (37,), (73,), (68,), (47,), (75,), (65,), (62,), (47,), (22,), (47,), (34,), (48,), (35,), (33,), (43,), (55,), (67,), (71,), (64,), (34,), (64,), (29,), (29,), (43,), (23,), (25,), (30,), (47,), (59,), (60,), (26,), (80,), (47,), (29,), (49,), (67,), (77,), (23,), (42,), (57,), (43,), (56,), (57,), (45,), (50,), (39,), (50,), (48,), (45,), (34,), (52,), (28,), (55,), (27,), (76,), (37,), (27,), (64,), (22,), (52,), (40,), (46,), (47,), (23,), (71,), (51,), (63,), (29,), (47,), (50,), (43,), (71,), (41,), (30,), (72,), (68,), (46,), (29,), (31,), (65,), (33,), (43,), (28,), (52,), (51,), (45,), (21,), (63,), (29,), (51,), (33,), (43,), (60,), (70,), (27,), (21,), (61,), (68,), (30,), (24,), (49,), (53,), (50,), (47,), (61,), (33,), (72,), (73,), (34,), (36,), (41,), (37,), (26,), (24,), (43,), (44,), (39,), (70,), (28,), (75,), (64,), (80,), (34,), (80,), (26,), (21,), (41,), (31,), (43,), (45,), (54,), (26,), (41,), (28,), (26,), (49,), (39,), (35,), (25,), (47,), (23,), (60,), (79,), (41,), (48,), (62,), (41,), (36,), (67,), (78,), (49,), (66,), (80,), (34,), (23,), (64,), (23,), (59,), (41,), (63,), (63,), (66,), (32,), (43,), (58,), (65,), (40,), (50,), (36,), (21,), (28,), (67,), (53,), (38,), (60,), (24,), (78,), (39,), (77,), (46,), (57,), (55,), (40,), (62,), (33,), (60,), (71,), (30,), (31,), (54,), (59,), (40,), (70,), (40,), (24,), (39,), (24,), (37,), (80,), (60,), (44,), (69,), (24,), (37,), (23,), (54,), (47,), (29,), (67,), (65,), (33,), (78,), (69,), (35,), (24,), (79,), (31,), (64,), (39,), (71,), (52,), (29,), (76,), (27,), (52,), (35,), (22,), (36,), (67,), (22,), (80,), (25,), (30,), (22,), (47,), (36,), (52,), (63,), (35,), (43,), (80,), (29,), (61,), (30,), (29,), (55,), (36,), (31,), (30,), (33,), (64,), (41,), (45,), (75,), (36,), (38,), (22,), (48,), (39,), (62,), (72,), (42,), (26,), (24,), (57,), (49,), (43,), (53,), (39,), (66,), (53,), (56,), (68,), (53,), (68,), (71,), (27,), (54,), (55,), (49,), (73,), (56,), (46,), (30,), (51,), (56,), (48,), (61,), (28,), (80,), (51,), (40,), (25,), (29,), (60,), (32,), (75,), (55,), (71,), (31,), (47,), (25,), (57,), (50,), (56,), (65,), (39,), (25,), (32,), (38,), (21,), (54,), (33,), (80,), (56,), (59,), (29,), (22,), (23,), (80,), (47,), (80,), (56,), (36,), (39,), (72,), (69,), (39,), (25,), (31,), (65,), (32,), (45,), (40,), (28,), (37,), (60,), (26,), (53,), (30,), (71,), (37,), (32,), (47,), (26,), (33,), (40,), (57,), (39,), (33,), (63,), (37,), (28,), (65,), (62,), (41,), (21,), (39,), (26,), (59,), (60,), (64,), (50,), (80,), (74,), (61,), (79,), (26,), (59,), (39,), (60,), (66,), (38,), (80,), (39,), (36,), (54,), (27,), (80,), (62,), (30,), (48,), (52,), (26,), (41,), (72,), (43,), (80,), (45,), (54,), (28,), (74,), (32,), (40,), (57,), (24,), (31,), (21,), (58,), (22,), (54,), (28,), (67,), (54,), (55,), (54,), (66,), (25,), (47,), (29,), (54,), (54,), (36,), (60,), (80,), (60,), (43,), (46,), (37,), (75,), (58,), (78,), (33,), (30,), (63,), (55,), (22,), (44,), (28,), (73,), (32,), (40,), (43,), (28,), (80,), (80,), (21,), (30,), (38,), (62,), (27,), (47,), (32,), (48,), (48,), (80,), (33,), (80,), (25,), (26,), (31,), (34,), (44,), (40,), (33,), (61,), (50,), (40,), (61,), (24,), (48,), (41,), (49,), (62,), (76,), (62,), (56,), (41,), (61,), (41,), (80,), (23,), (52,), (31,), (71,), (47,), (63,), (29,), (50,), (45,), (50,), (39,), (38,), (44,), (53,), (65,), (59,), (45,), (50,), (75,), (80,), (38,), (43,), (49,), (41,), (38,), (38,), (61,), (57,), (76,), (80,), (36,), (53,), (47,), (39,), (59,), (36,), (36,), (55,), (43,), (22,), (32,), (37,), (67,), (23,), (44,), (38,), (69,), (31,), (44,), (35,), (26,), (40,), (37,), (52,), (23,), (24,), (76,), (32,), (66,), (56,), (41,), (35,), (41,), (80,), (63,), (50,), (45,), (38,), (39,), (79,), (39,), (30,), (35,), (49,), (67,), (39,), (39,), (53,), (21,), (80,), (42,), (27,), (74,), (23,), (62,), (80,), (61,), (30,), (79,), (40,), (27,), (48,), (70,), (66,), (28,), (28,), (56,), (34,), (41,), (80,), (44,), (77,), (40,), (44,), (27,), (74,), (38,), (45,), (52,), (22,), (50,), (25,), (42,), (59,), (29,), (31,), (71,), (29,), (28,), (76,), (64,), (56,), (33,), (61,), (39,), (30,), (48,), (24,), (65,), (49,), (80,), (56,), (65,), (80,), (53,), (53,), (56,), (41,), (32,), (24,), (32,), (58,), (50,), (49,), (29,), (63,), (45,), (46,), (30,), (33,), (31,), (30,), (31,), (24,), (80,), (59,), (48,), (40,), (44,), (66,), (69,), (39,), (42,), (45,), (80,), (28,), (80,), (61,), (32,), (68,), (65,), (50,), (67,), (28,), (55,), (46,), (39,), (43,), (39,), (77,), (49,), (33,), (27,), (48,), (61,), (34,), (41,), (78,), (64,), (49,), (33,), (26,), (40,), (34,), (45,), (68,), (69,), (58,), (80,), (41,), (26,), (24,), (65,), (48,), (55,), (49,), (51,), (22,), (80,), (39,), (49,), (80,), (30,), (48,), (26,), (24,), (56,), (38,), (49,), (28,), (46,), (62,), (34,), (23,), (33,), (56,), (46,), (79,), (40,), (28,), (65,), (30,), (27,), (64,), (57,), (56,), (34,), (49,), (53,), (50,), (63,), (38,), (56,), (74,), (25,), (26,), (39,), (33,), (27,), (34,), (79,), (60,), (33,), (41,), (68,), (67,), (21,), (66,), (74,), (21,), (29,), (80,), (39,), (62,), (63,), (31,), (80,), (43,), (69,), (33,), (39,), (36,), (29,), (40,), (33,), (45,), (30,), (55,), (48,), (57,), (32,), (52,), (72,), (38,), (30,), (65,), (56,), (21,), (54,), (77,), (21,), (46,), (44,), (57,), (41,), (34,), (58,), (61,), (31,), (26,), (24,), (56,), (29,), (28,), (53,), (43,), (45,), (56,), (80,), (41,), (70,), (52,), (37,), (47,), (67,), (49,), (78,), (41,), (54,), (22,), (52,), (23,), (28,), (54,), (27,), (57,), (44,), (72,), (28,), (30,), (26,), (53,), (54,), (41,), (31,), (44,), (42,), (54,), (50,), (54,), (22,), (59,), (51,), (72,), (51,), (33,), (30,), (27,), (58,), (29,), (63,), (36,), (74,), (36,), (67,), (31,), (43,), (80,), (26,), (30,), (45,), (80,), (80,), (61,), (48,), (54,), (35,), (42,), (32,), (62,), (31,), (56,), (53,), (30,), (44,), (41,), (76,), (48,), (70,), (29,), (57,), (39,), (31,), (73,), (57,), (31,), (77,), (32,), (25,), (48,), (76,), (77,), (53,), (43,), (80,), (48,), (22,), (41,), (79,), (21,), (54,), (49,), (36,), (22,), (42,), (56,), (74,), (52,), (23,), (67,), (23,), (80,), (30,), (21,), (43,), (50,), (53,), (80,), (32,), (50,), (50,), (21,), (30,), (31,), (60,), (32,), (60,), (48,), (67,), (37,), (58,), (68,), (40,), (40,), (62,), (45,), (32,), (65,), (45,), (50,), (58,), (61,), (29,), (79,), (46,), (40,), (41,), (22,), (21,), (23,), (27,), (32,), (40,), (36,), (43,), (47,), (78,), (73,), (69,), (72,), (40,), (50,), (80,), (74,), (39,), (63,), (54,), (68,), (41,), (71,), (22,), (53,), (48,), (37,), (38,), (34,), (35,), (32,), (60,), (30,), (56,), (47,), (54,), (80,), (68,), (72,), (32,), (79,), (53,), (49,), (25,), (25,), (64,), (47,), (25,), (29,), (37,), (42,), (61,), (47,), (37,), (54,), (21,), (27,), (29,), (21,), (51,), (62,), (80,), (59,), (46,), (76,), (25,), (38,), (49,), (36,), (30,), (57,), (80,), (44,), (65,), (35,), (51,), (80,), (45,), (52,), (46,), (55,), (68,), (80,), (54,), (33,), (34,), (38,), (41,), (49,), (40,), (48,), (77,), (70,), (38,), (45,), (40,), (48,), (48,), (56,), (80,), (37,), (40,), (39,), (23,), (34,), (74,), (59,), (67,), (50,), (54,), (46,), (53,), (77,), (33,), (33,), (63,), (48,), (45,), (56,), (48,), (49,), (52,), (29,), (74,), (69,), (80,), (60,), (52,), (74,), (65,), (30,), (78,), (47,), (65,), (54,), (21,), (25,), (46,), (45,), (68,), (60,), (78,), (47,), (34,), (43,), (80,), (77,), (34,), (23,), (75,), (49,), (23,), (38,), (55,), (60,), (40,), (42,), (73,), (35,), (64,), (44,), (59,), (32,), (23,), (69,), (69,), (23,), (38,), (28,), (41,), (69,), (71,), (38,), (32,), (80,), (45,), (51,), (59,), (60,), (46,), (80,), (62,), (37,), (22,), (63,), (70,), (48,), (44,), (37,), (40,), (28,), (45,), (39,), (68,), (55,), (80,), (31,), (64,), (70,), (59,), (60,), (36,), (66,), (23,), (57,), (54,), (56,), (57,), (65,), (59,), (34,), (74,), (48,), (49,), (42,), (74,), (41,), (28,), (44,), (45,), (38,), (70,), (44,), (54,), (74,), (58,), (80,), (51,), (54,), (80,), (73,), (67,), (31,), (35,), (39,), (38,), (50,), (58,), (40,), (68,), (76,), (70,), (61,), (42,), (34,), (33,), (39,), (24,), (47,), (72,), (26,), (80,), (46,), (21,), (54,), (43,), (35,), (58,), (80,), (51,), (64,), (61,), (35,), (75,), (33,), (43,), (74,), (22,), (57,), (80,), (78,), (45,), (65,), (80,), (54,), (69,), (58,), (41,), (73,), (31,), (32,), (71,), (39,), (67,), (70,), (55,), (21,), (78,), (71,), (36,), (47,), (28,), (35,), (48,), (26,), (25,), (51,), (30,), (30,), (72,), (22,), (70,), (30,), (21,), (72,), (74,), (65,), (33,), (44,), (52,), (64,), (46,), (76,), (60,), (35,), (63,), (32,), (48,), (25,), (40,), (22,), (80,), (40,), (57,), (53,), (64,), (60,), (65,), (31,), (44,), (76,), (54,), (63,), (48,), (40,), (30,), (43,), (26,), (46,), (54,), (22,), (32,), (25,), (79,), (36,), (36,), (30,), (34,), (32,), (37,), (35,), (74,), (76,), (42,), (49,), (58,), (28,), (23,), (66,), (45,), (27,), (23,), (55,), (33,), (72,), (35,), (74,), (80,), (21,), (31,), (42,), (52,), (54,), (30,), (70,), (71,), (24,), (71,), (54,), (49,), (67,), (80,), (28,), (63,), (39,), (44,), (65,), (59,), (43,), (80,), (65,), (41,), (41,), (24,), (37,), (28,), (60,), (80,), (60,), (28,), (50,), (54,), (32,), (67,), (43,), (70,), (80,), (21,), (36,), (45,), (44,), (77,), (62,), (57,), (52,), (28,), (28,), (29,), (36,), (67,), (58,), (62,), (23,), (29,), (54,), (35,), (73,), (35,), (75,), (45,), (49,), (48,), (47,), (37,), (71,), (66,), (28,), (63,), (47,), (22,), (64,), (26,), (73,), (54,), (44,), (42,), (72,), (55,), (44,), (24,), (68,), (42,), (80,), (34,), (41,), (65,), (72,), (46,), (41,), (56,), (50,), (71,), (37,), (51,), (29,), (67,), (78,), (62,), (58,), (61,), (48,), (66,), (37,), (72,), (21,), (26,), (66,), (57,), (42,), (74,), (47,), (29,), (63,), (38,), (73,), (49,), (63,), (65,), (65,), (60,), (34,), (64,), (21,), (59,), (38,), (28,), (80,), (70,), (57,), (63,), (50,), (80,), (24,), (77,), (53,), (28,), (39,), (45,), (75,), (39,), (62,), (48,), (24,), (44,), (35,), (80,), (47,), (51,), (73,), (25,), (50,), (38,), (52,), (40,), (36,), (52,), (35,), (45,), (24,), (53,), (67,), (25,), (53,), (38,), (80,), (40,), (21,), (69,), (60,), (31,), (45,), (31,), (67,), (39,), (22,), (45,), (24,), (33,), (35,), (22,), (65,), (39,), (30,), (61,), (26,), (74,), (65,), (49,), (67,), (36,), (23,), (33,), (60,), (21,), (80,), (50,), (28,), (60,), (28,), (57,), (34,), (32,), (68,), (51,), (62,), (25,), (30,), (24,), (25,), (64,), (21,), (50,), (29,), (70,), (49,), (29,), (62,), (29,), (22,), (55,), (70,), (71,), (46,), (30,), (65,), (63,), (60,), (30,), (40,), (50,), (40,), (47,), (21,), (23,), (75,), (26,), (40,), (31,), (61,), (21,), (64,), (80,), (45,), (30,), (24,), (34,), (41,), (48,), (31,), (36,), (54,), (63,), (53,), (65,), (38,), (32,), (72,), (39,), (58,), (52,), (25,), (29,), (42,), (80,), (38,), (61,), (46,), (34,), (33,), (25,), (60,), (48,), (58,), (80,), (69,), (25,), (23,), (66,), (37,), (64,), (49,), (46,), (36,), (32,), (79,), (39,), (64,), (21,), (42,), (49,), (48,), (51,), (30,), (69,), (31,), (64,), (67,), (37,), (60,), (75,), (22,), (55,), (21,), (25,), (47,), (41,), (34,), (41,), (44,), (47,), (36,), (71,), (38,), (70,), (65,), (62,), (27,), (51,), (41,), (42,), (53,), (53,), (51,), (38,), (23,), (61,), (32,), (22,), (30,), (63,), (43,), (35,), (48,), (38,), (55,), (50,), (29,), (60,), (80,), (41,), (51,), (80,), (71,), (44,), (22,), (34,), (67,), (40,), (48,), (35,), (22,), (47,), (56,), (60,), (37,), (38,), (49,), (55,), (37,), (49,), (21,), (26,), (31,), (32,), (57,), (39,), (28,), (35,), (80,), (61,), (30,), (42,), (57,), (25,), (40,), (32,), (38,), (48,), (73,), (57,), (22,), (30,), (80,), (72,), (27,), (44,), (26,), (38,), (33,), (52,), (52,), (46,), (64,), (76,), (80,), (52,), (48,), (59,), (37,), (63,), (80,), (41,), (37,), (39,), (45,), (26,), (43,), (36,), (23,), (77,), (36,), (48,), (29,), (46,), (42,), (80,), (43,), (34,), (63,), (76,), (55,), (31,), (34,), (64,), (53,), (26,), (52,), (66,), (51,), (39,), (46,), (43,), (25,), (35,), (30,), (80,), (39,), (21,), (38,), (73,), (48,), (60,), (42,), (40,), (49,), (21,), (40,), (80,), (80,), (56,), (26,), (41,), (40,), (23,), (44,), (38,), (25,), (56,), (25,), (50,), (42,), (80,), (25,), (59,), (57,), (33,), (26,), (36,), (80,), (55,), (25,), (22,), (31,), (51,), (30,), (24,), (37,), (26,), (40,), (24,), (66,), (35,), (42,), (44,), (46,), (39,), (23,), (59,), (57,), (46,), (77,), (75,), (72,), (80,), (32,), (40,), (45,), (23,), (28,), (41,), (39,), (36,), (68,), (38,), (80,), (66,), (44,), (25,), (22,), (59,), (56,), (36,), (43,), (78,), (80,), (66,), (54,), (80,), (46,), (38,), (26,), (51,), (28,), (26,), (60,), (56,), (39,), (62,), (74,), (27,), (27,), (21,), (70,), (49,), (31,), (60,), (74,), (38,), (59,), (43,), (70,), (56,), (27,), (66,), (34,), (37,), (55,), (43,), (74,), (66,), (48,), (43,), (80,), (34,), (80,), (35,), (57,), (28,), (35,), (38,), (62,), (31,), (32,), (54,), (50,), (31,), (48,), (42,), (63,), (58,), (24,), (80,), (47,), (61,), (55,), (80,), (64,), (56,), (69,), (43,), (23,), (51,), (78,), (64,), (69,), (33,), (55,), (44,), (38,), (38,), (71,), (23,), (43,), (36,), (44,), (80,), (80,), (21,), (68,), (23,), (69,), (70,), (53,), (65,), (27,), (26,), (80,), (80,), (72,), (30,), (38,), (39,), (75,), (22,), (23,), (64,), (41,), (65,), (76,), (40,), (36,), (43,), (39,), (32,), (65,), (61,), (44,), (30,), (46,), (80,), (80,), (59,), (33,), (23,), (51,), (46,), (42,), (64,), (53,), (37,), (41,), (35,), (72,), (32,), (24,), (71,), (22,), (70,), (21,), (72,), (28,), (80,), (73,), (38,), (37,), (80,), (41,), (78,), (68,), (37,), (29,), (68,), (61,), (76,), (55,), (35,), (64,), (33,), (29,), (36,), (80,), (44,), (80,), (39,), (75,), (42,), (58,), (57,), (80,), (39,), (74,), (71,), (48,), (54,), (29,), (51,), (46,), (28,), (32,), (31,), (35,), (26,), (72,), (45,), (50,), (34,), (69,), (53,), (67,), (51,), (71,), (41,), (59,), (33,), (40,), (21,), (60,), (52,), (27,), (47,), (80,), (57,), (46,), (74,), (64,), (57,), (80,), (33,), (24,), (45,), (48,), (31,), (22,), (31,), (63,), (60,), (32,), (79,), (44,), (36,), (53,), (30,), (68,), (66,), (79,), (24,), (34,), (60,), (60,), (40,), (53,), (80,), (78,), (65,), (65,), (49,), (25,), (21,), (45,), (41,), (35,), (53,), (21,), (29,), (53,), (38,), (34,), (59,), (71,), (74,), (43,), (80,), (70,), (50,), (41,), (46,), (44,), (28,), (34,), (80,), (24,), (66,), (25,), (54,), (41,), (43,), (62,), (36,), (70,), (48,), (61,), (58,), (48,), (33,), (80,), (60,), (53,), (30,), (39,), (27,), (80,), (59,), (67,), (38,), (46,), (62,), (35,), (39,), (59,), (31,), (48,), (32,), (35,), (80,), (59,), (40,), (67,), (42,), (76,), (72,), (36,), (79,), (80,), (58,), (80,), (55,), (50,), (28,), (32,), (28,), (53,), (74,), (32,), (27,), (51,), (75,), (31,), (45,), (26,), (48,), (30,), (64,), (23,), (67,), (57,), (47,), (80,), (53,), (70,), (80,), (80,), (78,), (49,), (69,), (61,), (27,), (40,), (51,), (58,), (80,), (23,), (21,), (38,), (28,), (48,), (21,), (61,), (24,), (80,), (41,), (62,), (48,), (69,), (32,), (56,), (58,), (54,), (56,), (80,), (54,), (22,), (80,), (32,), (39,), (57,), (56,), (54,), (50,), (40,), (28,), (46,), (57,), (30,), (80,), (21,), (77,), (74,), (22,), (66,), (80,), (30,), (26,), (29,), (61,), (80,), (32,), (48,), (79,), (47,), (25,), (76,), (28,), (30,), (80,), (58,), (56,), (31,), (43,), (22,), (54,), (66,), (21,), (42,), (40,), (55,), (75,), (37,), (52,), (48,), (21,), (22,), (33,), (51,), (43,), (36,), (50,), (56,), (21,), (23,), (54,), (43,), (40,), (40,), (27,), (59,), (36,), (47,), (40,), (31,), (64,), (64,), (46,), (70,), (58,), (34,), (49,), (50,), (50,), (63,), (69,), (45,), (77,), (25,), (64,), (75,), (68,), (42,), (55,), (62,), (49,), (29,), (37,), (35,), (42,), (29,), (29,), (50,), (31,), (33,), (34,), (53,), (22,), (69,), (31,), (44,), (79,), (80,), 

In [37]:
#how does this look as a numpy array
import numpy as np
age_array = np.array(age_list)
print(age_array)

[[34]
 [49]
 [45]
 ...
 [28]
 [27]
 [60]]

In [38]:
#average age of surveyed people
age_array.mean()

48.00131521262604

In [39]:
#lets count the people between 25 and 30 using a loop