In [1]:
import pandas as pd
nhanes_data = pd.read_csv('https://raw.githubusercontent.com/GTPB/PSLS20/master/data/NHANES.csv')
print(nhanes_data)

         ID SurveyYr  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     51624  2009_10    male   34     30-39      409.0    White      NaN
1     51624  2009_10    male   34     30-39      409.0    White      NaN
2     51624  2009_10    male   34     30-39      409.0    White      NaN
3     51625  2009_10    male    4       0-9       49.0    Other      NaN
4     51630  2009_10  female   49     40-49      596.0    White      NaN
...     ...      ...     ...  ...       ...        ...      ...      ...
9995  71909  2011_12    male   28     20-29        NaN  Mexican  Mexican
9996  71910  2011_12  female    0       0-9        5.0    White    White
9997  71911  2011_12    male   27     20-29        NaN  Mexican  Mexican
9998  71915  2011_12    male   60     60-69        NaN    White    White
9999  71915  2011_12    male   60     60-69        NaN    White    White

           Education MaritalStatus  ... RegularMarij  AgeRegMarij  HardDrugs  \
0        High School       Married  ...           No          NaN        Yes
1        High School       Married  ...           No          NaN        Yes
2        High School       Married  ...           No          NaN        Yes
3                NaN           NaN  ...          NaN          NaN        NaN
4       Some College   LivePartner  ...           No          NaN        Yes
...              ...           ...  ...          ...          ...        ...
9995  9 - 11th Grade  NeverMarried  ...          NaN          NaN        NaN
9996             NaN           NaN  ...          NaN          NaN        NaN
9997    College Grad       Married  ...           No          NaN         No
9998    College Grad  NeverMarried  ...          NaN          NaN         No
9999    College Grad  NeverMarried  ...          NaN          NaN         No

      SexEver SexAge SexNumPartnLife  SexNumPartYear  SameSex  SexOrientation  \
0         Yes   16.0             8.0             1.0       No    Heterosexual
1         Yes   16.0             8.0             1.0       No    Heterosexual
2         Yes   16.0             8.0             1.0       No    Heterosexual
3         NaN    NaN             NaN             NaN      NaN             NaN
4         Yes   12.0            10.0             1.0      Yes    Heterosexual
...       ...    ...             ...             ...      ...             ...
9995      NaN    NaN             NaN             NaN      NaN             NaN
9996      NaN    NaN             NaN             NaN      NaN             NaN
9997      Yes   21.0             1.0             1.0       No    Heterosexual
9998      Yes   19.0             2.0             NaN       No             NaN
9999      Yes   19.0             2.0             NaN       No             NaN

      PregnantNow
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
9995          NaN
9996          NaN
9997          NaN
9998          NaN
9999          NaN

[10000 rows x 76 columns]

In [2]:
nhanes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                10000 non-null  int64
 1   SurveyYr          10000 non-null  object
 2   Gender            10000 non-null  object
 3   Age               10000 non-null  int64
 4   AgeDecade         9667 non-null   object
 5   AgeMonths         4962 non-null   float64
 6   Race1             10000 non-null  object
 7   Race3             5000 non-null   object
 8   Education         7221 non-null   object
 9   MaritalStatus     7231 non-null   object
 10  HHIncome          9189 non-null   object
 11  HHIncomeMid       9189 non-null   float64
 12  Poverty           9274 non-null   float64
 13  HomeRooms         9931 non-null   float64
 14  HomeOwn           9937 non-null   object
 15  Work              7771 non-null   object
 16  Weight            9922 non-null   float64
 17  Length            543 non-null    float64
 18  HeadCirc          88 non-null     float64
 19  Height            9647 non-null   float64
 20  BMI               9634 non-null   float64
 21  BMICatUnder20yrs  1274 non-null   object
 22  BMI_WHO           9603 non-null   object
 23  Pulse             8563 non-null   float64
 24  BPSysAve          8551 non-null   float64
 25  BPDiaAve          8551 non-null   float64
 26  BPSys1            8237 non-null   float64
 27  BPDia1            8237 non-null   float64
 28  BPSys2            8353 non-null   float64
 29  BPDia2            8353 non-null   float64
 30  BPSys3            8365 non-null   float64
 31  BPDia3            8365 non-null   float64
 32  Testosterone      4126 non-null   float64
 33  DirectChol        8474 non-null   float64
 34  TotChol           8474 non-null   float64
 35  UrineVol1         9013 non-null   float64
 36  UrineFlow1        8397 non-null   float64
 37  UrineVol2         1478 non-null   float64
 38  UrineFlow2        1476 non-null   float64
 39  Diabetes          9858 non-null   object
 40  DiabetesAge       629 non-null    float64
 41  HealthGen         7539 non-null   object
 42  DaysPhysHlthBad   7532 non-null   float64
 43  DaysMentHlthBad   7534 non-null   float64
 44  LittleInterest    6667 non-null   object
 45  Depressed         6673 non-null   object
 46  nPregnancies      2604 non-null   float64
 47  nBabies           2416 non-null   float64
 48  Age1stBaby        1884 non-null   float64
 49  SleepHrsNight     7755 non-null   float64
 50  SleepTrouble      7772 non-null   object
 51  PhysActive        8326 non-null   object
 52  PhysActiveDays    4663 non-null   float64
 53  TVHrsDay          4859 non-null   object
 54  CompHrsDay        4863 non-null   object
 55  TVHrsDayChild     653 non-null    float64
 56  CompHrsDayChild   653 non-null    float64
 57  Alcohol12PlusYr   6580 non-null   object
 58  AlcoholDay        4914 non-null   float64
 59  AlcoholYear       5922 non-null   float64
 60  SmokeNow          3211 non-null   object
 61  Smoke100          7235 non-null   object
 62  Smoke100n         7235 non-null   object
 63  SmokeAge          3080 non-null   float64
 64  Marijuana         4941 non-null   object
 65  AgeFirstMarij     2891 non-null   float64
 66  RegularMarij      4941 non-null   object
 67  AgeRegMarij       1366 non-null   float64
 68  HardDrugs         5765 non-null   object
 69  SexEver           5767 non-null   object
 70  SexAge            5540 non-null   float64
 71  SexNumPartnLife   5725 non-null   float64
 72  SexNumPartYear    4928 non-null   float64
 73  SameSex           5768 non-null   object
 74  SexOrientation    4842 non-null   object
 75  PregnantNow       1696 non-null   object
dtypes: float64(43), int64(2), object(31)
memory usage: 5.8+ MB

In [3]:
import numpy as py

In [4]:
nhanes_data1 = nhanes_data.drop_duplicates()

In [5]:
nhanes_data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7832 entries, 0 to 9999
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                7832 non-null   int64
 1   SurveyYr          7832 non-null   object
 2   Gender            7832 non-null   object
 3   Age               7832 non-null   int64
 4   AgeDecade         7549 non-null   object
 5   AgeMonths         3561 non-null   float64
 6   Race1             7832 non-null   object
 7   Race3             4264 non-null   object
 8   Education         5469 non-null   object
 9   MaritalStatus     5474 non-null   object
 10  HHIncome          7179 non-null   object
 11  HHIncomeMid       7179 non-null   float64
 12  Poverty           7254 non-null   float64
 13  HomeRooms         7778 non-null   float64
 14  HomeOwn           7782 non-null   object
 15  Work              5910 non-null   object
 16  Weight            7771 non-null   float64
 17  Length            498 non-null    float64
 18  HeadCirc          82 non-null     float64
 19  Height            7515 non-null   float64
 20  BMI               7505 non-null   float64
 21  BMICatUnder20yrs  1133 non-null   object
 22  BMI_WHO           7479 non-null   object
 23  Pulse             6596 non-null   float64
 24  BPSysAve          6586 non-null   float64
 25  BPDiaAve          6586 non-null   float64
 26  BPSys1            6335 non-null   float64
 27  BPDia1            6335 non-null   float64
 28  BPSys2            6428 non-null   float64
 29  BPDia2            6428 non-null   float64
 30  BPSys3            6432 non-null   float64
 31  BPDia3            6432 non-null   float64
 32  Testosterone      3478 non-null   float64
 33  DirectChol        6536 non-null   float64
 34  TotChol           6536 non-null   float64
 35  UrineVol1         6967 non-null   float64
 36  UrineFlow1        6492 non-null   float64
 37  UrineVol2         1162 non-null   float64
 38  UrineFlow2        1161 non-null   float64
 39  Diabetes          7699 non-null   object
 40  DiabetesAge       517 non-null    float64
 41  HealthGen         5765 non-null   object
 42  DaysPhysHlthBad   5758 non-null   float64
 43  DaysMentHlthBad   5760 non-null   float64
 44  LittleInterest    5049 non-null   object
 45  Depressed         5051 non-null   object
 46  nPregnancies      1992 non-null   float64
 47  nBabies           1846 non-null   float64
 48  Age1stBaby        1457 non-null   float64
 49  SleepHrsNight     5897 non-null   float64
 50  SleepTrouble      5911 non-null   object
 51  PhysActive        6374 non-null   object
 52  PhysActiveDays    3813 non-null   float64
 53  TVHrsDay          4128 non-null   object
 54  CompHrsDay        4132 non-null   object
 55  TVHrsDayChild     534 non-null    float64
 56  CompHrsDayChild   534 non-null    float64
 57  Alcohol12PlusYr   4979 non-null   object
 58  AlcoholDay        3672 non-null   float64
 59  AlcoholYear       4444 non-null   float64
 60  SmokeNow          2423 non-null   object
 61  Smoke100          5478 non-null   object
 62  Smoke100n         5478 non-null   object
 63  SmokeAge          2325 non-null   float64
 64  Marijuana         3669 non-null   object
 65  AgeFirstMarij     2095 non-null   float64
 66  RegularMarij      3669 non-null   object
 67  AgeRegMarij       990 non-null    float64
 68  HardDrugs         4311 non-null   object
 69  SexEver           4312 non-null   object
 70  SexAge            4133 non-null   float64
 71  SexNumPartnLife   4280 non-null   float64
 72  SexNumPartYear    3660 non-null   float64
 73  SameSex           4312 non-null   object
 74  SexOrientation    3587 non-null   object
 75  PregnantNow       1292 non-null   object
dtypes: float64(43), int64(2), object(31)
memory usage: 4.6+ MB

In [6]:
count_unique_ids = nhanes_data1.groupby('ID').count()
print(count_unique_ids)

       SurveyYr  Gender  Age  AgeDecade  AgeMonths  Race1  Race3  Education  \
ID
51624         1       1    1          1          1      1      0          1
51625         1       1    1          1          1      1      0          0
51630         1       1    1          1          1      1      0          1
51638         1       1    1          1          1      1      0          0
51646         1       1    1          1          1      1      0          0
...         ...     ...  ...        ...        ...    ...    ...        ...
71908         2       2    2          2          0      2      2          2
71909         1       1    1          1          0      1      1          1
71910         1       1    1          1          1      1      1          0
71911         1       1    1          1          0      1      1          1
71915         2       2    2          2          0      2      2          2

       MaritalStatus  HHIncome  ...  RegularMarij  AgeRegMarij  HardDrugs  \
ID                              ...
51624              1         1  ...             1            0          1
51625              0         1  ...             0            0          0
51630              1         1  ...             1            0          1
51638              0         1  ...             0            0          0
51646              0         1  ...             0            0          0
...              ...       ...  ...           ...          ...        ...
71908              2         2  ...             0            0          2
71909              1         1  ...             0            0          0
71910              0         1  ...             0            0          0
71911              1         1  ...             1            0          1
71915              2         2  ...             0            0          2

       SexEver  SexAge  SexNumPartnLife  SexNumPartYear  SameSex  \
ID
51624        1       1                1               1        1
51625        0       0                0               0        0
51630        1       1                1               1        1
51638        0       0                0               0        0
51646        0       0                0               0        0
...        ...     ...              ...             ...      ...
71908        2       2                2               0        2
71909        0       0                0               0        0
71910        0       0                0               0        0
71911        1       1                1               1        1
71915        2       2                2               0        2

       SexOrientation  PregnantNow
ID
51624               1            0
51625               0            0
51630               1            0
51638               0            0
51646               0            0
...               ...          ...
71908               0            0
71909               0            0
71910               0            0
71911               1            0
71915               0            0

[6779 rows x 75 columns]

In [7]:
count_unique_ids = nhanes_data1['ID'].nunique()
print(count_unique_ids)

6779

In [8]:
nhanes_data1.agg(['nunique'])
pd.set_option('display.max_columns', None)
print(nhanes_data1.agg(['nunique']))

           ID  SurveyYr  Gender  Age  AgeDecade  AgeMonths  Race1  Race3  \
nunique  6779         2       2   81          8        910      5      6

         Education  MaritalStatus  HHIncome  HHIncomeMid  Poverty  HomeRooms  \
nunique          5              6        12           12      450         13

         HomeOwn  Work  Weight  Length  HeadCirc  Height   BMI  \
nunique        3     3    1290     309        56     980  2073

         BMICatUnder20yrs  BMI_WHO  Pulse  BPSysAve  BPDiaAve  BPSys1  BPDia1  \
nunique                 4        4     47       126       102      70      51

         BPSys2  BPDia2  BPSys3  BPDia3  Testosterone  DirectChol  TotChol  \
nunique      69      51      66      50          2311         106      250

         UrineVol1  UrineFlow1  UrineVol2  UrineFlow2  Diabetes  DiabetesAge  \
nunique        424        2066        294         760         2           72

         HealthGen  DaysPhysHlthBad  DaysMentHlthBad  LittleInterest  \
nunique          5               30               31               3

         Depressed  nPregnancies  nBabies  Age1stBaby  SleepHrsNight  \
nunique          3            14       12          25             11

         SleepTrouble  PhysActive  PhysActiveDays  TVHrsDay  CompHrsDay  \
nunique             2           2               7         7           7

         TVHrsDayChild  CompHrsDayChild  Alcohol12PlusYr  AlcoholDay  \
nunique              7                7                2          25

         AlcoholYear  SmokeNow  Smoke100  Smoke100n  SmokeAge  Marijuana  \
nunique           62         2         2          2        41          2

         AgeFirstMarij  RegularMarij  AgeRegMarij  HardDrugs  SexEver  SexAge  \
nunique             38             2           36          2        2      35

         SexNumPartnLife  SexNumPartYear  SameSex  SexOrientation  PregnantNow
nunique               90              23        2               3            3

In [9]:
grouped = nhanes_data1.groupby('ID').count().reset_index()
grouped.sort_values('SurveyYr', ascending = False)

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
3958,63297,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,5,0,5,5,5,5,5,0,0,0,5,5,5,4,5,5,0,0,5,0,5,0,5,5,0,5,5,5,0,5,5,5,5,5,5,5,0
5202,67118,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,5,0,5,5,5,5,5,5,5,5,5,5,5,4,5,5,0,0,5,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5,0,5
3909,63149,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,0,0,5,5,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5,5,5,5,5,5,4,5,5,0,0,5,5,5,0,5,5,0,5,0,5,0,5,5,5,5,5,5,5,5
3785,62804,4,4,4,4,0,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,4,0,4,4,4,4,4,0,0,0,4,4,4,3,4,4,0,0,4,4,4,0,4,4,0,0,0,0,0,4,4,4,4,0,4,0,0
4262,64228,4,4,4,4,0,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0,0,4,4,4,4,4,4,4,0,0,0,4,4,4,4,4,4,0,0,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256,58283,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,0,0,0,0,1,0,1,1,1,1,1,0,0,0,1,1,1,0,0,0,0,0,1,1,1,1,1,1,1,0,0,0,0,1,1,1,1,0,1,0,0
2255,58276,1,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,0,0,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,1,1,1,1,0,0,1,1,1,1,0,0,0,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2254,58275,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,1,1,1,1,1,0,0,0,1,1,1,1,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0
2253,58274,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,1,1,1,0,1,1,0,1,0,1,0,1,1,1,1,1,1,1,0
3389,61615,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [10]:
nhanes_data1[nhanes_data1['ID'] == 63297]

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
5608,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,NaN,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5609,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,6.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5611,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,3.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5612,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,2.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN
5613,63297,2011_12,male,50,50-59,NaN,White,White,College Grad,Married,75000-99999,87500.0,5.0,7.0,Own,Working,94.2,NaN,NaN,175.5,30.6,NaN,30.0_plus,78.0,110.0,79.0,112.0,84.0,108.0,80.0,112.0,78.0,246.82,0.85,3.18,56.0,0.339,NaN,NaN,No,NaN,Good,2.0,0.0,None,None,NaN,NaN,NaN,9.0,No,Yes,4.0,3_hr,0_to_1_hr,NaN,NaN,Yes,NaN,0.0,NaN,No,Non-Smoker,NaN,Yes,14.0,No,NaN,No,Yes,17.0,30.0,1.0,No,Heterosexual,NaN

In [11]:
nhanes_data1[nhanes_data1['ID'] == 67118]

,ID,SurveyYr,Gender,Age,AgeDecade,AgeMonths,Race1,Race3,Education,MaritalStatus,HHIncome,HHIncomeMid,Poverty,HomeRooms,HomeOwn,Work,Weight,Length,HeadCirc,Height,BMI,BMICatUnder20yrs,BMI_WHO,Pulse,BPSysAve,BPDiaAve,BPSys1,BPDia1,BPSys2,BPDia2,BPSys3,BPDia3,Testosterone,DirectChol,TotChol,UrineVol1,UrineFlow1,UrineVol2,UrineFlow2,Diabetes,DiabetesAge,HealthGen,DaysPhysHlthBad,DaysMentHlthBad,LittleInterest,Depressed,nPregnancies,nBabies,Age1stBaby,SleepHrsNight,SleepTrouble,PhysActive,PhysActiveDays,TVHrsDay,CompHrsDay,TVHrsDayChild,CompHrsDayChild,Alcohol12PlusYr,AlcoholDay,AlcoholYear,SmokeNow,Smoke100,Smoke100n,SmokeAge,Marijuana,AgeFirstMarij,RegularMarij,AgeRegMarij,HardDrugs,SexEver,SexAge,SexNumPartnLife,SexNumPartYear,SameSex,SexOrientation,PregnantNow
7541,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,5.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7542,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,3.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7543,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,4.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7544,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,NaN,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No
7545,67118,2011_12,female,33,30-39,NaN,White,White,Some College,Divorced,25000-34999,30000.0,1.34,5.0,Rent,Working,81.5,NaN,NaN,161.8,31.1,NaN,30.0_plus,76.0,113.0,61.0,114.0,68.0,114.0,58.0,112.0,64.0,31.96,1.19,4.37,123.0,0.728,NaN,NaN,No,NaN,Good,3.0,5.0,Several,None,5.0,3.0,25.0,5.0,No,No,1.0,1_hr,2_hr,NaN,NaN,Yes,2.0,52.0,No,Yes,Smoker,14.0,Yes,16.0,No,NaN,No,Yes,14.0,6.0,0.0,No,NaN,No

In [12]:
del nhanes_data1['PhysActiveDays']

In [13]:
nhanes_data2 = nhanes_data1.drop_duplicates()

In [14]:
print(nhanes_data2)

         ID SurveyYr  Gender  Age AgeDecade  AgeMonths    Race1    Race3  \
0     51624  2009_10    male   34     30-39      409.0    White      NaN
3     51625  2009_10    male    4       0-9       49.0    Other      NaN
4     51630  2009_10  female   49     40-49      596.0    White      NaN
5     51638  2009_10    male    9       0-9      115.0    White      NaN
6     51646  2009_10    male    8       0-9      101.0    White      NaN
...     ...      ...     ...  ...       ...        ...      ...      ...
9991  71908  2011_12  female   66     60-69        NaN    White    White
9993  71909  2011_12    male   28     20-29        NaN  Mexican  Mexican
9996  71910  2011_12  female    0       0-9        5.0    White    White
9997  71911  2011_12    male   27     20-29        NaN  Mexican  Mexican
9998  71915  2011_12    male   60     60-69        NaN    White    White

           Education MaritalStatus     HHIncome  HHIncomeMid  Poverty  \
0        High School       Married  25000-34999      30000.0     1.36
3                NaN           NaN  20000-24999      22500.0     1.07
4       Some College   LivePartner  35000-44999      40000.0     1.91
5                NaN           NaN  75000-99999      87500.0     1.84
6                NaN           NaN  55000-64999      60000.0     2.33
...              ...           ...          ...          ...      ...
9991    College Grad       Widowed  65000-74999      70000.0     4.55
9993  9 - 11th Grade  NeverMarried    5000-9999       7500.0     0.46
9996             NaN           NaN  75000-99999      87500.0     3.37
9997    College Grad       Married  75000-99999      87500.0     3.25
9998    College Grad  NeverMarried  65000-74999      70000.0     5.00

      HomeRooms HomeOwn        Work  Weight  Length  HeadCirc  Height    BMI  \
0           6.0     Own  NotWorking    87.4     NaN       NaN   164.7  32.22
3           9.0     Own         NaN    17.0     NaN       NaN   105.4  15.30
4           5.0    Rent  NotWorking    86.7     NaN       NaN   168.4  30.57
5           6.0    Rent         NaN    29.8     NaN       NaN   133.1  16.82
6           7.0     Own         NaN    35.2     NaN       NaN   130.6  20.64
...         ...     ...         ...     ...     ...       ...     ...    ...
9991        8.0     Own     Working    88.7     NaN       NaN   159.0  35.10
9993        3.0    Rent     Working    92.3     NaN       NaN   177.3  29.40
9996       10.0     Own         NaN     6.7    67.6      42.2     NaN    NaN
9997       10.0     Own     Working    96.7     NaN       NaN   175.8  31.30
9998        4.0     Own     Working    78.4     NaN       NaN   168.8  27.50

     BMICatUnder20yrs       BMI_WHO  Pulse  BPSysAve  BPDiaAve  BPSys1  \
0                 NaN     30.0_plus   70.0     113.0      85.0   114.0
3                 NaN     12.0_18.5    NaN       NaN       NaN     NaN
4                 NaN     30.0_plus   86.0     112.0      75.0   118.0
5                 NaN     12.0_18.5   82.0      86.0      47.0    84.0
6                 NaN  18.5_to_24.9   72.0     107.0      37.0   114.0
...               ...           ...    ...       ...       ...     ...
9991              NaN     30.0_plus   76.0     114.0      70.0   110.0
9993              NaN  25.0_to_29.9   68.0     124.0      65.0   124.0
9996              NaN           NaN    NaN       NaN       NaN     NaN
9997              NaN     30.0_plus   74.0     133.0      74.0   122.0
9998              NaN  25.0_to_29.9   76.0     147.0      73.0   150.0

      BPDia1  BPSys2  BPDia2  BPSys3  BPDia3  Testosterone  DirectChol  \
0       88.0   114.0    88.0   112.0    82.0           NaN        1.29
3        NaN     NaN     NaN     NaN     NaN           NaN         NaN
4       82.0   108.0    74.0   116.0    76.0           NaN        1.16
5       50.0    84.0    50.0    88.0    44.0           NaN        1.34
6       46.0   108.0    36.0   106.0    38.0           NaN        1.55
...      ...     ...     ...     ...     ...           ...         ...
9991    74.0   114.0    68.0   114.0    72.0         26.00        1.86
9993    62.0   126.0    64.0   122.0    66.0        490.43        1.22
9996     NaN     NaN     NaN     NaN     NaN           NaN         NaN
9997    76.0   132.0    82.0   134.0    66.0        509.00        1.06
9998    72.0   148.0    74.0   146.0    72.0        505.13        0.93

      TotChol  UrineVol1  UrineFlow1  UrineVol2  UrineFlow2 Diabetes  \
0        3.49      352.0         NaN        NaN         NaN       No
3         NaN        NaN         NaN        NaN         NaN       No
4        6.70       77.0       0.094        NaN         NaN       No
5        4.86      123.0       1.538        NaN         NaN       No
6        4.09      238.0       1.322        NaN         NaN       No
...       ...        ...         ...        ...         ...      ...
9991     6.47       29.0       0.659       94.0       0.627       No
9993     3.90       97.0       0.942        NaN         NaN       No
9996      NaN        NaN         NaN        NaN         NaN      NaN
9997     5.72       63.0       0.600        NaN         NaN       No
9998     4.94      218.0       1.253        NaN         NaN      Yes

      DiabetesAge  HealthGen  DaysPhysHlthBad  DaysMentHlthBad LittleInterest  \
0             NaN       Good              0.0             15.0           Most
3             NaN        NaN              NaN              NaN            NaN
4             NaN       Good              0.0             10.0        Several
5             NaN        NaN              NaN              NaN            NaN
6             NaN        NaN              NaN              NaN            NaN
...           ...        ...              ...              ...            ...
9991          NaN  Excellent              0.0              0.0           None
9993          NaN        NaN              NaN              NaN            NaN
9996          NaN        NaN              NaN              NaN            NaN
9997          NaN       Good              0.0              2.0           None
9998         56.0       Good              0.0              2.0           None

     Depressed  nPregnancies  nBabies  Age1stBaby  SleepHrsNight SleepTrouble  \
0      Several           NaN      NaN         NaN            4.0          Yes
3          NaN           NaN      NaN         NaN            NaN          NaN
4      Several           2.0      2.0        27.0            8.0          Yes
5          NaN           NaN      NaN         NaN            NaN          NaN
6          NaN           NaN      NaN         NaN            NaN          NaN
...        ...           ...      ...         ...            ...          ...
9991      None           2.0      2.0        22.0            6.0           No
9993       NaN           NaN      NaN         NaN            6.0           No
9996       NaN           NaN      NaN         NaN            NaN          NaN
9997      None           NaN      NaN         NaN            6.0           No
9998      None           NaN      NaN         NaN            6.0           No

     PhysActive TVHrsDay CompHrsDay  TVHrsDayChild  CompHrsDayChild  \
0            No      NaN        NaN            NaN              NaN
3           NaN      NaN        NaN            4.0              1.0
4            No      NaN        NaN            NaN              NaN
5           NaN      NaN        NaN            5.0              0.0
6           NaN      NaN        NaN            1.0              6.0
...         ...      ...        ...            ...              ...
9991         No     2_hr  0_to_1_hr            NaN              NaN
9993        Yes     1_hr       2_hr            NaN              NaN
9996        NaN      NaN        NaN            NaN              NaN
9997         No     1_hr  0_to_1_hr            NaN              NaN
9998         No     2_hr       1_hr            NaN              NaN

     Alcohol12PlusYr  AlcoholDay  AlcoholYear SmokeNow Smoke100   Smoke100n  \
0                Yes         NaN          0.0       No      Yes      Smoker
3                NaN         NaN          NaN      NaN      NaN         NaN
4                Yes         2.0         20.0      Yes      Yes      Smoker
5                NaN         NaN          NaN      NaN      NaN         NaN
6                NaN         NaN          NaN      NaN      NaN         NaN
...              ...         ...          ...      ...      ...         ...
9991              No         1.0          5.0      NaN       No  Non-Smoker
9993             NaN         NaN          NaN      Yes      Yes      Smoker
9996             NaN         NaN          NaN      NaN      NaN         NaN
9997             Yes         5.0          4.0      NaN       No  Non-Smoker
9998             Yes         NaN          0.0      NaN       No  Non-Smoker

      SmokeAge Marijuana  AgeFirstMarij RegularMarij  AgeRegMarij HardDrugs  \
0         18.0       Yes           17.0           No          NaN       Yes
3          NaN       NaN            NaN          NaN          NaN       NaN
4         38.0       Yes           18.0           No          NaN       Yes
5          NaN       NaN            NaN          NaN          NaN       NaN
6          NaN       NaN            NaN          NaN          NaN       NaN
...        ...       ...            ...          ...          ...       ...
9991       NaN       NaN            NaN          NaN          NaN        No
9993      18.0       NaN            NaN          NaN          NaN       NaN
9996       NaN       NaN            NaN          NaN          NaN       NaN
9997       NaN       Yes           22.0           No          NaN        No
9998       NaN       NaN            NaN          NaN          NaN        No

     SexEver  SexAge  SexNumPartnLife  SexNumPartYear SameSex SexOrientation  \
0        Yes    16.0              8.0             1.0      No   Heterosexual
3        NaN     NaN              NaN             NaN     NaN            NaN
4        Yes    12.0             10.0             1.0     Yes   Heterosexual
5        NaN     NaN              NaN             NaN     NaN            NaN
6        NaN     NaN              NaN             NaN     NaN            NaN
...      ...     ...              ...             ...     ...            ...
9991     Yes    18.0              1.0             NaN      No            NaN
9993     NaN     NaN              NaN             NaN     NaN            NaN
9996     NaN     NaN              NaN             NaN     NaN            NaN
9997     Yes    21.0              1.0             1.0      No   Heterosexual
9998     Yes    19.0              2.0             NaN      No            NaN

     PregnantNow
0            NaN
3            NaN
4            NaN
5            NaN
6            NaN
...          ...
9991         NaN
9993         NaN
9996         NaN
9997         NaN
9998         NaN

[6779 rows x 75 columns]

In [15]:
nhanes_data2.isnull().sum()

ID                    0
SurveyYr              0
Gender                0
Age                   0
AgeDecade           249
                   ...
SexNumPartnLife    3192
SexNumPartYear     3705
SameSex            3164
SexOrientation     3770
PregnantNow        5660
Length: 75, dtype: int64

In [16]:
nhanes_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6779 entries, 0 to 9998
Data columns (total 75 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                6779 non-null   int64
 1   SurveyYr          6779 non-null   object
 2   Gender            6779 non-null   object
 3   Age               6779 non-null   int64
 4   AgeDecade         6530 non-null   object
 5   AgeMonths         3549 non-null   float64
 6   Race1             6779 non-null   object
 7   Race3             3211 non-null   object
 8   Education         4645 non-null   object
 9   MaritalStatus     4650 non-null   object
 10  HHIncome          6194 non-null   object
 11  HHIncomeMid       6194 non-null   float64
 12  Poverty           6261 non-null   float64
 13  HomeRooms         6731 non-null   float64
 14  HomeOwn           6735 non-null   object
 15  Work              5046 non-null   object
 16  Weight            6724 non-null   float64
 17  Length            462 non-null    float64
 18  HeadCirc          77 non-null     float64
 19  Height            6481 non-null   float64
 20  BMI               6475 non-null   float64
 21  BMICatUnder20yrs  922 non-null    object
 22  BMI_WHO           6450 non-null   object
 23  Pulse             5652 non-null   float64
 24  BPSysAve          5642 non-null   float64
 25  BPDiaAve          5642 non-null   float64
 26  BPSys1            5427 non-null   float64
 27  BPDia1            5427 non-null   float64
 28  BPSys2            5501 non-null   float64
 29  BPDia2            5501 non-null   float64
 30  BPSys3            5499 non-null   float64
 31  BPDia3            5499 non-null   float64
 32  Testosterone      2561 non-null   float64
 33  DirectChol        5596 non-null   float64
 34  TotChol           5596 non-null   float64
 35  UrineVol1         5988 non-null   float64
 36  UrineFlow1        5561 non-null   float64
 37  UrineVol2         974 non-null    float64
 38  UrineFlow2        973 non-null    float64
 39  Diabetes          6653 non-null   object
 40  DiabetesAge       457 non-null    float64
 41  HealthGen         4898 non-null   object
 42  DaysPhysHlthBad   4891 non-null   float64
 43  DaysMentHlthBad   4893 non-null   float64
 44  LittleInterest    4270 non-null   object
 45  Depressed         4272 non-null   object
 46  nPregnancies      1696 non-null   float64
 47  nBabies           1577 non-null   float64
 48  Age1stBaby        1245 non-null   float64
 49  SleepHrsNight     5035 non-null   float64
 50  SleepTrouble      5047 non-null   object
 51  PhysActive        5445 non-null   object
 52  TVHrsDay          3093 non-null   object
 53  CompHrsDay        3096 non-null   object
 54  TVHrsDayChild     534 non-null    float64
 55  CompHrsDayChild   534 non-null    float64
 56  Alcohol12PlusYr   4199 non-null   object
 57  AlcoholDay        3066 non-null   float64
 58  AlcoholYear       3730 non-null   float64
 59  SmokeNow          2056 non-null   object
 60  Smoke100          4654 non-null   object
 61  Smoke100n         4654 non-null   object
 62  SmokeAge          1972 non-null   float64
 63  Marijuana         3083 non-null   object
 64  AgeFirstMarij     1726 non-null   float64
 65  RegularMarij      3083 non-null   object
 66  AgeRegMarij       827 non-null    float64
 67  HardDrugs         3615 non-null   object
 68  SexEver           3615 non-null   object
 69  SexAge            3454 non-null   float64
 70  SexNumPartnLife   3587 non-null   float64
 71  SexNumPartYear    3074 non-null   float64
 72  SameSex           3615 non-null   object
 73  SexOrientation    3009 non-null   object
 74  PregnantNow       1119 non-null   object
dtypes: float64(42), int64(2), object(31)
memory usage: 3.9+ MB